<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2009, 2013 Red Hat, Inc.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html

    Contributors:
        Red Hat - initial API and implementation
 -->

<plugin>
   <extension
         id="rpmnature"
         name="%extension.name"
         point="org.eclipse.core.resources.natures">
         <runtime>
             <run class="org.eclipse.linuxtools.rpm.core.RPMProjectNature"></run>
         </runtime>
   </extension>
<extension point="org.eclipse.core.runtime.preferences">
        <initializer
            class="org.eclipse.linuxtools.internal.rpm.core.RPMCoreInitializer" />
    </extension>
<extension
      point="org.eclipse.core.expressions.definitions">
   <definition
         id="org.eclipse.linuxtools.rpm.core.rpmfile">
      <and>
         <count
               value="1">
         </count>
         <iterate
               ifEmpty="false">
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.projectNature"
                        value="org.eclipse.linuxtools.rpm.core.rpmnature">
                  </test>
               </adapt>
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="*.spec">
                  </test>
               </adapt>
            </or>
         </iterate>
      </and>
   </definition>
</extension>
</plugin>
