<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="feature.xml"
            id="org.eclipse.linuxtools.rpmstubby.contribution1">
         <menu
               label="Stubby"
               path="additions"
               id="org.eclipse.linuxtools.rpmstubby.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Stub out an RPM specfile"
               class="org.eclipse.linuxtools.rpmstubby.popup.actions.StubifyAction"
               menubarPath="org.eclipse.linuxtools.rpmstubby.menu1/group1"
               enablesFor="+"
               id="org.eclipse.linuxtools.rpmstubby.newAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.linuxtools.rpmstubby.contribution2">
                     <menu
               label="Stubby"
               path="additions"
               id="org.eclipse.linuxtools.rpmstubby.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Stub out an RPM specfile"
               class="org.eclipse.linuxtools.rpmstubby.popup.actions.StubifyAction"
               menubarPath="org.eclipse.linuxtools.rpmstubby.menu1/group1"
               enablesFor="+"
               id="org.eclipse.linuxtools.rpmstubby.newAction">
         </action>
         <visibility>
            <objectState 
	            name="projectNature" 
	            value="org.eclipse.pde.FeatureNature"/>
	      </visibility>
	  </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.linuxtools.rpm.ui.editor.mainpage"
            class="org.eclipse.linuxtools.rpmstubby.preferences.StubbyPreferencePage"
            id="org.eclipse.linuxtools.rpmstubby.preferences.stubbyPreferencePage"
            name="Stubby">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.linuxtools.rpmstubby.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
