<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.RemoteProxyManager">
      <manager
            class="org.eclipse.linuxtools.ssh.proxy.SSHProxyManager"
            scheme="ssh">
      </manager>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="ssh">
         <run
               class="org.eclipse.linuxtools.ssh.proxy.SSHFileSystem">
         </run>
      </filesystem>
   </extension>
</plugin>
