<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.linuxtools.valgrind.launch.valgrindTools">
      <tool
            delegate="org.eclipse.linuxtools.valgrind.memcheck.MemcheckLaunchDelegate"
            id="org.eclipse.linuxtools.valgrind.launch.memcheck"
            name="memcheck"
            page="org.eclipse.linuxtools.valgrind.memcheck.MemcheckToolPage">
      </tool>
   </extension>
   <extension
         point="org.eclipse.linuxtools.valgrind.ui.valgrindToolViews">
      <view
            class="org.eclipse.linuxtools.valgrind.memcheck.MemcheckViewPart"
            definitionId="org.eclipse.linuxtools.valgrind.launch.memcheck">
      </view>
   </extension>
      <extension
         id="org.eclipse.linuxtools.valgrind.memcheck.marker"
         name="%marker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.cdt.core.problem">
      </super>
   </extension>
   <!--
   <extension
         point="org.eclipse.linuxtools.valgrind.history.statePersisters">
      <persister
            class="org.eclipse.linuxtools.valgrind.memcheck.MemcheckLaunchDelegate"
            tool="org.eclipse.linuxtools.valgrind.launch.memcheck">
      </persister>
   </extension>
   -->
</plugin>
