<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			name="%preference.systemTap.name"
			id="org.eclipse.linuxtools.systemtap.prefs.view"
			class="org.eclipse.linuxtools.internal.systemtap.ui.systemtapgui.preferences.SystemTapPreferencePage"/>
		<page
			name="%preference.envVars.name"
			id="org.eclipse.linuxtools.systemtap.prefs.environmentvariables"
			class="org.eclipse.linuxtools.systemtap.ui.systemtapgui.preferences.EnvironmentVariablesPreferencePage"
			category="org.eclipse.linuxtools.systemtap.prefs.view"/>
	</extension>
</plugin>
