<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            filenames="gmon.out, gmon.sum"
            icon="icons/toggle.gif"
            id="org.eclipse.linuxtools.gprof.editor.single"
            launcher="org.eclipse.linuxtools.internal.gprof.action.OpenGmonAction"
            name="%gprofEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.gprof"
            class="org.eclipse.linuxtools.internal.gprof.view.GmonView"
            icon="icons/toggle.gif"
            id="org.eclipse.linuxtools.gprof.view"
            name="%gprof"
            restorable="false">
         <description>
            %gprofDescription
         </description>
      </view>
      <category
            id="org.eclipse.linuxtools.gprof"
            name="%gprofCategory">
      </category>
   </extension>

</plugin>
