<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer class="org.eclipse.linuxtools.systemtapgui.logging.preferences.PreferenceInitializer"/>
	</extension>
	
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			name="%preference.logging.name"
			id="com.qualityeclipse.generic.prefs.logging"
			class="org.eclipse.linuxtools.systemtapgui.logging.preferences.LoggingPreferencePage"/>
	</extension>
</plugin>
