<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.linuxtools.binutils.crossCompilerBinutils" name="Cross compiler binutils" schema="schema/org.eclipse.linuxtools.binutils.crossCompile.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.linuxtools.binutils.link2source.STCSourceNotFoundEditor"
            icon="icons/c_file_obj.gif"
            id="org.eclipse.linuxtools.binutils.link2source.STCSourceNotFoundEditor"
            name="%sourceNotFoundEditorName">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
         <page
            class="org.eclipse.linuxtools.internal.binutils.preferences.BinutilsPreferencePage"
            id="org.eclipse.linuxtools.binutils.preferences"
            name="%binutilsprefpage"
            category="org.eclipse.linuxtools.profiling.provider.MainPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.linuxtools.internal.binutils.preferences.BinutilsPreferencesInitializer">
      </initializer>
   </extension>
</plugin>
