<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?><!--
    Copyright (c) 2009 Red Hat, Inc.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Red Hat - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.eclipse.linuxtools.rpm.ui"
            name="%category.name.0">
      </category>
      <wizard
            name="%wizard.name.0"
            icon="icons/rpm.gif"
            class="org.eclipse.linuxtools.internal.rpm.ui.RPMExportWizard"
            category="org.eclipse.linuxtools.rpm.ui"
            id="org.eclipse.linuxtools.rpm.ui.RPMExportWizard">
         <description>
            %wizard.description.0
         </description>
         <selection
               class="org.eclipse.core.resources.IResource" />
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.linuxtools.rpm.ui"
            name="%category.name.0">
      </category>
      <wizard
            name="%wizard.name.1"
            icon="icons/rpm.gif"
            class="org.eclipse.linuxtools.internal.rpm.ui.SRPMImportWizard" 
            category="org.eclipse.linuxtools.rpm.ui"
            id="org.eclipse.linuxtools.rpm.ui.SRPMImportWizard">
         <description>
            %wizard.description.1
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
	<extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.linuxtools.internal.rpm.ui.propertypage.SpecFileHeaderPage"
            id="rg.eclipse.linuxtools.rpm.ui.propertypage.SpecFileHeaderPage"
            name="%page.name.0"
            nameFilter="*.rpm">
      </page>
      <page
            class="org.eclipse.linuxtools.internal.rpm.ui.propertypage.ChangelogPage"
            id="org.eclipse.linuxtools.rpm.ui.propertypage.ChangelogPage"
            name="%page.name.1"
            nameFilter="*.rpm">
      </page>
      <page
            class="org.eclipse.linuxtools.internal.rpm.ui.propertypage.TargetPage"
            id="org.eclipse.linuxtools.rpm.ui.propertypage.TargetPage"
            name="%page.name.2"
            nameFilter="*.rpm">
      </page>
      <page
            class="org.eclipse.linuxtools.internal.rpm.ui.propertypage.InstallScriptsPage"
            id="org.eclipse.linuxtools.rpm.ui.propertypage.InstallScriptsPage"
            name="%page.name.3"
            nameFilter="*.rpm">
      </page>
      <page
            class="org.eclipse.linuxtools.internal.rpm.ui.propertypage.ProvidesPage"
            id="org.eclipse.linuxtools.rpm.ui.propertypage.ProvidesPage"
            name="%page.name.4"
            nameFilter="*.rpm">
      </page>
   </extension>
 <extension
       point="org.eclipse.ui.newWizards">
      <wizard
      		project="true"
            category="org.eclipse.linuxtools.rpm.ui.editor"
            class="org.eclipse.linuxtools.internal.rpm.ui.RPMNewProject"
            icon="icons/rpm.gif"
            id="org.eclipse.linuxtools.rpm.ui.RPMNewProject"
            name="%wizard.name.2">
      </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.ide.projectNatureImages">
    <image
          icon="icons/rpm.gif"
          id="org.eclipse.linuxtools.rpm.ui.image"
          natureId="org.eclipse.linuxtools.rpm.core.rpmnature">
    </image>
 </extension>
  <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
       <consolePatternMatchListener
            class="org.eclipse.linuxtools.internal.rpm.ui.ErrorLineMatcher"
            id="org.eclipse.linuxtools.rpm.ui.ErrorLineMatcher"
            regex=".*(error):\W(line)\W\d{1,}:.*">
         <enablement>
            <test property="org.eclipse.ui.console.consoleTypeTest" value="rpmbuild"/>
         </enablement>
      </consolePatternMatchListener>
   </extension>
  <extension
        id="org.eclipse.linuxtools.rpm.ui.popup"
        name="%extension.name"
        point="org.eclipse.ui.menus">
        <menuContribution
              locationURI="popup:org.eclipse.ui.popup.any?before=additions" >
              <menu
                    icon="icons/rpm.gif"
                    id="org.eclipse.linuxtools.rpm.ui.popup"
                    label="%menu.label">
                 <separator
                       name="org.eclipse.linuxtools.rpm.ui.buildsep"
                       visible="true">
                 </separator>
                 <separator
                       name="org.eclipse.linuxtools.rpm.ui.sourcesep"
                       visible="true">
                 </separator>
                 <separator
                       name="org.eclipse.linuxtools.rpm.ui.miscsep"
                       visible="true">
                 </separator>
              </menu>
        </menuContribution>
        <menuContribution
              locationURI="popup:org.eclipse.linuxtools.rpm.ui.popup?before=org.eclipse.linuxtools.rpm.ui.buildsep">
           <command
                 commandId="rpmEditor.build.command"
                 label="%command.name.0"
                 tooltip="%command.name.0">
              <visibleWhen>
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <or>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.spec">
                          </test>
                       </adapt>
                       <with
                             variable="activeEditorId">
                          <equals
                                value="org.eclipse.linuxtools.rpm.ui.editor.SpecfileEditor">
                          </equals>
                       </with>
                    </or>
                 </iterate>
              </visibleWhen>
              <parameter
                    name="buildType"
                    value="SOURCE">
              </parameter>
           </command>
           <command
                 commandId="rpmEditor.build.command"
                 label="%command.name.1"
                 tooltip="%command.name.1">
              <visibleWhen>
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <or>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.spec">
                          </test>
                       </adapt>
                       <with
                             variable="activeEditorId">
                          <equals
                                value="org.eclipse.linuxtools.rpm.ui.editor.SpecfileEditor">
                          </equals>
                       </with>
                    </or>
                 </iterate>
              </visibleWhen>
              <parameter
                    name="buildType"
                    value="BINARY">
              </parameter>
           </command>
           <command
                 commandId="rpmEditor.build.command"
                 label="%command.name.2"
                 tooltip="%command.name.2">
              <visibleWhen>
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <or>
                       <adapt
                             type="org.eclipse.core.resources.IResource">
                          <test
                                property="org.eclipse.core.resources.name"
                                value="*.spec">
                          </test>
                       </adapt>
                       <with
                             variable="activeEditorId">
                          <equals
                                value="org.eclipse.linuxtools.rpm.ui.editor.SpecfileEditor">
                          </equals>
                       </with>
                    </or>
                 </iterate>
              </visibleWhen>
              <parameter
                    name="buildType"
                    value="ALL">
              </parameter>
           </command>
        </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="rpmEditor.build.command"
           name="%command.name.3">
        <commandParameter
              id="buildType"
              name="buildType"
              optional="true">
        </commandParameter>
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.eclipse.linuxtools.internal.rpm.ui.handlers.SpecfileEditorRPMBuildHandler"
           commandId="rpmEditor.build.command">
     </handler>
  </extension>
 
</plugin>
