<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.linuxtools.internal.valgrind.core.ValgrindPreferencePage"
            id="org.eclipse.linuxtools.valgrind.internal.core.ValgrindPreferencePage"
            name="Valgrind">
      </page>
   </extension>

</plugin>
