<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.cdt.ui.newCWizards"
            class="org.eclipse.linuxtools.cdt.autotools.wizards.ConvertToAutotoolsProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/ac16/convert-normal.gif"
            id="org.eclipse.linuxtools.cdt.autotools.wizard1"
            name="%ConvertWizard.name">
         <description>
            %ConvertWizard.description
         </description>
         <selection class="org.eclipse.core.resources.IProject"/>
      </wizard>
      <wizard
            category="org.eclipse.cdt.ui.newCWizards"
            class="org.eclipse.linuxtools.cdt.autotools.wizards.NewAutotoolsCProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/elcl16/newc_app.gif"
            id="org.eclipse.linuxtools.cdt.autotools.wizard2"
            name="%NewCWizard.name"
            project="true">
         <description>
            %NewCProject.description
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
      <wizard
            category="org.eclipse.cdt.ui.newCCWizards"
            class="org.eclipse.linuxtools.cdt.autotools.wizards.NewAutotoolsCCProjectWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            icon="icons/elcl16/newcc_app.gif"
            id="org.eclipse.linuxtools.cdt.autotools.wizard3"
            name="%NewCCWizard.name"
            project="true">
         <description>
            %NewCCProject.description
         </description>
         <selection
               class="org.eclipse.core.resources.IProject">
         </selection>
      </wizard>
   </extension>
     <extension point="org.eclipse.ui.actionSets">
                <actionSet
                      id="org.eclipse.linuxtools.cdt.autotools.actionSets"
                      label="%InvokeAutotools.label"
                      visible="true">
                <action
                      class="org.eclipse.linuxtools.cdt.autotools.actions.InvokeAutoconfAction"
                      enablesFor="1"
                      id="org.eclipse.linuxtools.cdt.autotools.actions.invokeAutoconf"
                      label="%InvokeAutoconf.label"
                      menubarPath="project/">
                   <enablement>
                      <objectState
                            name="projectNature"
                            value="org.eclipse.linuxtools.cdt.autotools.autotoolsNature">
                      </objectState>
                   </enablement>
		        </action>
                <action
                      class="org.eclipse.linuxtools.cdt.autotools.actions.InvokeAutomakeAction"
                      enablesFor="1"
                      id="org.eclipse.linuxtools.cdt.autotools.actions.invokeAutomake"
                      label="%InvokeAutomake.label"
                      menubarPath="project/"
                      style="push">
                   <enablement>
                      <objectState
                            name="projectNature"
                            value="org.eclipse.linuxtools.cdt.autotools.autotoolsNature">
                      </objectState>
                   </enablement>
                </action>
                <action
                      class="org.eclipse.linuxtools.cdt.autotools.actions.InvokeAclocalAction"
                      enablesFor="1"
                      id="org.eclipse.linuxtools.cdt.autotools.actions.invokeAclocal"
                      label="%InvokeAclocal.label"
                      menubarPath="project/"
                      style="push">
                   <enablement>
                      <objectState
                            name="projectNature"
                            value="org.eclipse.linuxtools.cdt.autotools.autotoolsNature">
                      </objectState>
                   </enablement>
                </action>
                </actionSet>
        </extension>
     <extension
           id="autotoolsProperties"
           name="Autotools Build Properties"
           point="org.eclipse.cdt.managedbuilder.core.buildProperties">
           <propertyValue 
              	property="org.eclipse.cdt.build.core.buildType" 
              	id="org.eclipse.linuxtools.cdt.autotools.buildType.default" 
              	name="%BuildProperty.value.name.default"/>
           <propertyValue 
            	property="org.eclipse.cdt.build.core.buildArtefactType" 
            	id="org.eclipse.linuxtools.cdt.autotools.buildArtefactType.autotools" 
            	name="%BuildProperty.type.name.autotools"/>
     </extension>
   <extension
         id="org.eclipse.linuxtools.cdt.autotools.popup1"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.linuxtools.cdt.autotools.objectContribution.autoconf"
            nameFilter="configure.ac"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.eclipse.linuxtools.cdt.autotools.actions.InvokeAutoconfAction"
               enablesFor="1"
               id="org.eclipse.linuxtools.cdt.autotools.action.autoconf1"
               label="%InvokeAutoconf.label"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.eclipse.linuxtools.cdt.autotools.objectContribution.autoconf2"
            nameFilter="configure.in"
            objectClass="org.eclipse.core.resources.IResource">
         <action
               class="org.eclipse.linuxtools.cdt.autotools.actions.InvokeAutoconfAction"
               enablesFor="1"
               id="org.eclipse.linuxtools.cdt.autotools.action2"
               label="%InvokeAutoconf.label"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="cdt.autootols.managed.build.info"
         name="Autotools Managed Build Info"
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <managedBuildRevision fileVersion="4.0.0"/>
      <tool
            command="configure"
            id="org.eclipse.linuxtools.cdt.autotools.tool.configure"
            isAbstract="false"
            name="%Tool.configure"
            natureFilter="both">
         <optionCategory
               id="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               name="%OptionCategory.configure.general"
               owner="org.eclipse.linuxtools.cdt.autotools.tool.configure"/>
         <option
               applicabilityCalculator="org.eclipse.linuxtools.cdt.autotools.AutotoolsDefaultBuildDirHandler"
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               defaultValue="build"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.builddir"
               isAbstract="false"
               name="%Option.configure.builddir"
               resourceFilter="all"
               tip="%Option.configure.builddir.tip"
               valueHandler="org.eclipse.linuxtools.cdt.autotools.AutotoolsDefaultBuildDirHandler"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.configdir"
               isAbstract="false"
               name="%Option.configure.configdir"
               resourceFilter="all"
               tip="%Option.configure.configdir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               command="--cache-file="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.cache_file"
               isAbstract="false"
               name="%Option.configure.cache_file"
               resourceFilter="all"
               tip="%Option.configure.cache_file.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               command="--help"
               defaultValue="false"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.help"
               isAbstract="false"
               name="%Option.configure.help"
               resourceFilter="all"
               tip="%Option.configure.help.tip"
               valueType="boolean"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               command="--no-create"
               defaultValue="false"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.no_create"
               isAbstract="false"
               name="%Option.configure.no_create"
               resourceFilter="all"
               tip="%Option.configure.no_create.tip"
               valueType="boolean"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               command="--quiet"
               defaultValue="false"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.quiet"
               isAbstract="false"
               name="%Option.configure.quiet"
               resourceFilter="all"
               tip="%Option.configure.quiet.tip"
               valueType="boolean"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               command="--version"
               defaultValue="false"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.version"
               isAbstract="false"
               name="%Option.configure.version"
               resourceFilter="all"
               tip="%Option.configure.version.tip"
               valueType="boolean"/>
         <optionCategory
               id="org.eclipse.linuxtools.cdt.autotools.configure.optionCategory.configure.platform"
               name="%OptionCategory.configure.platform"
               owner="org.eclipse.linuxtools.cdt.autotools.tool.configure"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.configure.optionCategory.configure.platform"
               command="--host="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.host"
               isAbstract="false"
               name="%Option.configure.host"
               resourceFilter="all"
               tip="%Option.configure.host.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.configure.optionCategory.configure.platform"
               command="--target="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.target"
               isAbstract="false"
               name="%Option.configure.target"
               resourceFilter="all"
               tip="%Option.configure.target.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.configure.optionCategory.configure.platform"
               command="--build="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.build"
               isAbstract="false"
               name="%Option.configure.build"
               resourceFilter="all"
               tip="%Option.configure.build.tip"
               valueType="string"/>
         <optionCategory
               id="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               name="%OptionCategory.configure.directories"
               owner="org.eclipse.linuxtools.cdt.autotools.tool.configure"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--prefix="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.prefix"
               isAbstract="false"
               name="%Option.configure.prefix"
               resourceFilter="all"
               tip="%Option.configure.prefix.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--exec-prefix="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.exec_prefix"
               isAbstract="false"
               name="%Option.configure.exec_prefix"
               resourceFilter="all"
               tip="%Option.configure.exec_prefix.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--libdir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.libdir"
               isAbstract="false"
               name="%Option.configure.libdir"
               resourceFilter="all"
               tip="%Option.configure.libdir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--bindir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.bindir"
               isAbstract="false"
               name="%Option.configure.bindir"
               resourceFilter="all"
               tip="%Option.configure.bindir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--sbindir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.sbindir"
               isAbstract="false"
               name="%Option.configure.sbindir"
               resourceFilter="all"
               tip="%Option.configure.sbindir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--includedir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.includedir"
               isAbstract="false"
               name="%Option.configure.includedir"
               resourceFilter="all"
               tip="%Option.configure.includedir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--datadir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.datadir"
               isAbstract="false"
               name="%Option.configure.datadir"
               resourceFilter="all"
               tip="%Option.configure.datadir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--sysconfdir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.sysconfdir"
               isAbstract="false"
               name="%Option.configure.sysconfdir"
               resourceFilter="all"
               tip="%Option.configure.sysconfdir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--infodir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.infodir"
               isAbstract="false"
               name="%Option.configure.infodir"
               resourceFilter="all"
               tip="%Option.configure.infodir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--mandir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.mandir"
               isAbstract="false"
               name="%Option.configure.mandir"
               resourceFilter="all"
               tip="%Option.configure.mandir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--srcdir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.srcdir"
               isAbstract="false"
               name="%Option.configure.srcdir"
               resourceFilter="all"
               tip="%Option.configure.srcdir.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--localstatedir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.localstatedir"
               isAbstract="false"
               name="%Option.configure.localstatedir"
               resourceFilter="all"
               tip="%Option.configure.localstatedir"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--sharedstatedir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.sharedstatedir"
               isAbstract="false"
               name="%Option.configure.sharedstatedir"
               resourceFilter="all"
               tip="%Option.configure.sharedstatedir"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--libexecdir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.libexecdir"
               isAbstract="false"
               name="%Option.configure.libexecdir"
               resourceFilter="all"
               tip="%Option.configure.libexecdir"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.directories"
               command="--oldincludedir="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.oldincludedir"
               isAbstract="false"
               name="%Option.configure.oldincludedir"
               resourceFilter="all"
               tip="%Option.configure.oldincludedir.tip"
               valueType="string"/>
         <optionCategory
               id="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.filenames"
               name="%OptionCategory.configure.filenames"
               owner="org.eclipse.linuxtools.cdt.autotools.tool.configure"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.filenames"
               command="--program-prefix="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.program_prefix"
               isAbstract="false"
               name="%Option.configure.program_prefix"
               resourceFilter="all"
               tip="%Option.configure.program_prefix.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.filenames"
               command="--program-suffix="
               id="org.eclipse.linuxtools.cdt.autotools.option.program_suffix"
               isAbstract="false"
               name="%Option.configure.program_suffix"
               resourceFilter="all"
               tip="%Option.configure.program_suffix.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.filenames"
               command="--program-transform-name="
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.program_transform_name"
               isAbstract="false"
               name="%Option.configure.program_transform_name"
               resourceFilter="all"
               tip="%Option.configure.program_transform_name.tip"
               valueType="string"/>
         <optionCategory
               id="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.features"
               name="%OptionCategory.configure.features"
               owner="org.eclipse.linuxtools.cdt.autotools.tool.configure"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.features"
               command="--enable-maintainer-mode"
               defaultValue="false"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.enable_maintainer_mode"
               isAbstract="false"
               name="%Option.configure.enable_maintainer_mode"
               resourceFilter="all"
               tip="%Option.configure.enable_maintainer_mode.tip"
               valueType="boolean"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.features"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.user"
               isAbstract="false"
               name="%Option.configure.user"
               resourceFilter="all"
               tip="%Option.configure.user.tip"
               valueType="string"/>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.includes"
               isAbstract="false"
               name="%IncludesOption.name"
               valueType="includePath">
         <enablement type="UI_VISIBILITY|UI_ENABLEMENT">
         <false/>
         </enablement>
         </option>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.configure.general"
               id="org.eclipse.linuxtools.cdt.autotools.option.configure.symbols"
               isAbstract="false"
               name="%SymbolsOption.name"
               valueType="definedSymbols">
         <enablement type="UI_VISIBILITY|UI_ENABLEMENT">
         <false/>
         </enablement>
         </option>
         <outputType
               id="org.eclipse.linuxtools.cdt.autotools.outputType.configure"
               name="%Configure.outputType"
               outputs="status"
               primaryOutput="true"/>
      </tool>
      <tool
            command="autogen.sh"
            id="org.eclipse.linuxtools.cdt.autotools.tool.autogen"
            isAbstract="false"
            name="%Tool.autogen"
            natureFilter="both">
         <optionCategory
               id="org.eclipse.linuxtools.cdt.autotools.optionCategory.autogen.general"
               name="%OptionCategory.autogen.general"
               owner="org.eclipse.linuxtools.cdt.autotools.tool.autogen">
         </optionCategory>
         <option
               category="org.eclipse.linuxtools.cdt.autotools.optionCategory.autogen.general"
               id="org.eclipse.linuxtools.cdt.autotools.option.autogen.user"
               isAbstract="false"
               name="%Option.autogen.user"
               resourceFilter="all"
               tip="%Option.autogen.user.tip"
               valueType="string">
         </option>
         <outputType
               id="org.eclipse.linuxtools.cdt.autotools.autogen.outputType"
               name="%Autogen.outputType"
               outputNames="configure"
               primaryOutput="true">
         </outputType>
      </tool>
      <builder
            arguments="-k"
            buildfileGenerator="org.eclipse.linuxtools.cdt.autotools.MakeGenerator"
            command="make"
            id="org.eclipse.linuxtools.cdt.autotools.builder"
            isAbstract="false"
            isVariableCaseSensitive="false"
            name="%Makefile.builder.name"/>
      <targetPlatform
            archList="all"
            binaryParser="org.eclipse.cdt.core.ELF;org.eclipse.cdt.core.GNU_ELF"
            id="org.eclipse.linuxtools.cdt.autotools.targetPlatform"
            isAbstract="false"
            name="%Autotools.targetplatform.name"/>
      <projectType
            buildArtefactType="org.eclipse.linuxtools.cdt.autotools.buildArtefactType.autotools"
            id="org.eclipse.linuxtools.cdt.autotools.projectType"
            isAbstract="false"
            name="%Autotools.projecttype.name">
         <configuration
               buildProperties="org.eclipse.linuxtools.cdt.autotools.buildType.default"
               cleanCommand="rm -rf"
               errorParsers="org.eclipse.cdt.core.MakeErrorParser;org.eclipse.cdt.core.GCCErrorParser;org.eclipse.cdt.core.GLDErrorParser;org.eclipse.cdt.core.GASErrorParser"
               id="org.eclipse.linuxtools.cdt.autotools.configuration.build"
               name="%Configuration.build.name">
            <toolChain
                  archList="all"
                  id="org.eclipse.linuxtools.cdt.autotools.toolChain"
                  name="%Autotools.gnu.toolchain.name"
                  scannerConfigDiscoveryProfileId="org.eclipse.cdt.managedbuilder.core.GCCManagedMakePerProjectProfile"
                  targetTool="org.eclipse.linuxtools.cdt.autotools.tool.configure">
               <tool
                     id="org.eclipse.linuxtools.cdt.autotools.gnu.toolchain.tool.configure"
                     isAbstract="false"
                     natureFilter="both"
                     superClass="org.eclipse.linuxtools.cdt.autotools.tool.configure"/>
               <tool
                     id="org.eclipse.linuxtools.cdt.autotools.toolchain.tool.autogen"
                     isAbstract="false"
                     natureFilter="both"
                     superClass="org.eclipse.linuxtools.cdt.autotools.tool.autogen">
               </tool>
               <builder
                     id="org.eclipse.linuxtools.cdt.autotools.toolchain.builder"
                     isAbstract="false"
                     isVariableCaseSensitive="false"
                     superClass="org.eclipse.linuxtools.cdt.autotools.builder"/>
               <targetPlatform
                     id="org.eclipse.linuxtools.cdt.autotools.toolchain.targetPlatform"
                     isAbstract="false"
                     name="%Autotools.targetplatform.name"
                     superClass="org.eclipse.linuxtools.cdt.autotools.targetPlatform">
               </targetPlatform>
            </toolChain>
         </configuration>
      </projectType>
   </extension>
   <extension
         id="genmakebuilder"
         name="Autotools generated make builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false">
         <run class="org.eclipse.linuxtools.cdt.autotools.AutotoolsMakefileBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.cdt.core.CBuildConsole">
      <CBuildConsole
            class="org.eclipse.linuxtools.cdt.autotools.internal.ui.CConfigureConsole"
            id="org.eclipse.linuxtools.cdt.autotools.configureConsole"/>
   </extension>
   <extension
   	     id="AutotoolsScannerInfoProvider"
         point="org.eclipse.cdt.core.ScannerInfoProvider">
      <cextension>   
        <run 
             class="org.eclipse.linuxtools.cdt.autotools.AutotoolsScannerInfoProvider">
        </run>
      </cextension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.linuxtools.cdt.autotools.ui.editors.AutoconfEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="m4"
            filenames="configure.in,configure.ac"
            icon="icons/autoconf.gif"
            id="org.eclipse.linuxtools.cdt.autotools.editor.autoconf"
            name="%Autoconf.editor.name"/>
   </extension>
      <extension
         id="org.eclipse.cdt.make.editor"
         name="MakefileEditor"
         point="org.eclipse.ui.editors">
      <editor
            name="%AutomakeEditor.name"
            icon="icons/automake.gif"
            contributorClass="org.eclipse.linuxtools.cdt.autotools.internal.editors.automake.MakefileEditorActionContributor"
            class="org.eclipse.linuxtools.cdt.autotools.editors.automake.AutomakeEditor"
            id="org.eclipse.linuxtools.cdt.autotools.editors.AutomakeEditor"
            filenames="Makefile.am,Makefile.in">
            <contentTypeBinding contentTypeId="org.eclipse.linuxtools.cdt.autotools.automake"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%ACeditor.scope.description"
            id="org.eclipse.linuxtools.cdt.autotools.ui.editor.scope"
            name="%ACeditor.scope.name"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.linuxtools.cdt.autotools.ui.editors.text.show.tooltip"
            contextId="org.eclipse.linuxtools.cdt.autotools.ui.editor.scope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F2"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%CommandCategorySource.description"
            id="org.eclipse.linuxtools.cdt.ui.category.source"
            name="%CommandCategorySource.name"/>
      <command
            categoryId="org.eclipse.linuxtools.cdt.ui.category.source"
            description="%ShowTooltip.description"
            id="org.eclipse.linuxtools.cdt.autotools.ui.editors.text.show.tooltip"
            name="%ShowTooltip.name"/>
   </extension>
  <extension point="org.eclipse.core.runtime.contentTypes">
	  <!-- declares a content type for automake files -->
	  <content-type id="org.eclipse.linuxtools.cdt.autotools.automake" name="%Automake.name" 
		  base-type="org.eclipse.core.runtime.text"
		  priority="high"/>
  </extension>
   <extension point="org.eclipse.core.runtime.contentTypes"> 
      <file-association 
       content-type="org.eclipse.linuxtools.cdt.autotools.automake"
       file-names="Makefile.am"
       file-extensions="am"/>
   </extension>
   <extension
         id="parsefileerror"
         name="Autotools Parse Error Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="outlineparsefileerror"
         name="Autotools Outline Page Parse Error"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="org.eclipse.linuxtools.cdt.autoconf.docsetup"
         name="Autoconf Editor Setup"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.linuxtools.cdt.autotools.ui.editors.AutoconfDocumentSetupParticipant"
            extensions="m4"
            fileNames="configure.in,configure.ac"/>
   </extension>
   <extension
         point="org.eclipse.cdt.make.core.MakeTargetBuilder">
      <builder
            builderID="org.eclipse.linuxtools.cdt.autotools.genmakebuilder"
            id="org.eclipse.linuxtools.cdt.autotools.builder1">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.linuxtools.cdt.autotools.internal.ui.preferences.AutotoolsPreferencePage"
            id="org.eclipse.linuxtools.cdt.autotools.preferences1"
            name="%PreferenceAutotools.name">
      </page>
      <page
            category="org.eclipse.linuxtools.cdt.autotools.preferences1"
            class="org.eclipse.linuxtools.cdt.autotools.internal.ui.preferences.AutomakeEditorPreferencePage"
            id="org.eclipse.linuxtools.cdt.autotools.preferences.automake.editor1"
            name="%PreferenceAutomakeEditor.name">
      </page>
      <page
            category="org.eclipse.linuxtools.cdt.autotools.preferences1"
            class="org.eclipse.linuxtools.cdt.autotools.internal.ui.preferences.AutoconfEditorPreferencePage"
            id="org.eclipse.linuxtools.cdt.autotools.preferences.autoconf.editor1"
            name="%PreferenceAutoconfEditor.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.cPropertyTab">
      <tab
            class="org.eclipse.linuxtools.cdt.autotools.ui.properties.AutotoolsBuildPropertyPage"
            icon="icons/autoconf.gif"
            name="%AutotoolsBuildPropertyTab.name"
            parent="org.eclipse.cdt.managedbuilder.ui.properties.Page_BuildSettings"
            tooltip="%PropertyTabBuild.tooltip"
            weight="002">
      </tab>
      <tab
            class="org.eclipse.linuxtools.cdt.autotools.ui.properties.AutotoolsEditorPropertyPage"
            name="%AutotoolsEditorsPropertyTab.name"
            parent="org.eclipse.linuxtools.cdt.autotools.ui.properties.AutotoolsPropertyPage">
      </tab>
      <tab
            class="org.eclipse.linuxtools.cdt.autotools.ui.properties.AutotoolsToolsPropertyPage"
            name="%AutotoolsToolsPropertyTab.name"
            parent="org.eclipse.linuxtools.cdt.autotools.ui.properties.AutotoolsPropertyPage">
      </tab>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.linuxtools.cdt.autotools.AutotoolsProjectPropertyTester"
            id="org.eclipse.linuxtools.cdt.autotools.propertyTester.isAutotoolsProject"
            namespace="org.eclipse.linuxtools.cdt.autotools"
            properties="isAutotoolsProject"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.linuxtools.cdt.autotools.ui.properties.AutotoolsPropertyPage"
            id="org.eclipse.linuxtools.cdt.autotools.propertypage"
            name="%PropertyAutotools.name">
         <enabledWhen>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <test
                     property="org.eclipse.linuxtools.cdt.autotools.isAutotoolsProject">
               </test>
            </and>
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="autotoolsNature"
         name="%AutotoolsNature.name"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.cdt.managedbuilder.core.managedBuildNature">
      </requires-nature>
      <runtime>
         <run
               class="org.eclipse.linuxtools.cdt.autotools.AutotoolsProjectNature">
         </run>
      </runtime>
   </extension>
</plugin>
