<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.linuxtools.internal.threadprofiler.LaunchThreadProfiler"
            id="org.eclipse.linuxtools.systemtap.quicklaunchThreadProfiler"
            label="Thread Profiler"
            modes="profile">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.cdt.core.model.IBinary">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.cdt.core.model.ICProject">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isExecutable">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isCProject">
                        </test>
                        <and>
                           <instanceof
                                 value="org.eclipse.ui.IFileEditorInput">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <adapt
                                    type="org.eclipse.cdt.core.model.ICElement">
                              </adapt>
                           </adapt>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension
            id="org.eclipse.linuxtools.threadprofiler.threadprofilerview"
            name="Thread Profiler View"
            point="org.eclipse.ui.views">
      <view
            category="org.eclipse.cdt.ui.views"
            class="org.eclipse.linuxtools.internal.threadprofiler.ThreadProfilerView"
            id="org.eclipse.linuxtools.threadprofiler.threadprofilerview"
            name="Thread Profiler View"
            restorable="true">
      </view>
   </extension>
   
       <extension
          id="org.eclipse.linuxtools.threadprofiler.threadparser"
          name="GraphParser"
          point="org.eclipse.linuxtools.callgraph.core.parser">
       <parser
             class="org.eclipse.linuxtools.internal.threadprofiler.ThreadProfilerParser"
             realtime="true">
       </parser>
    </extension>

</plugin>
