<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="library"
         name="Glibc C Library"
         point="org.eclipse.linuxtools.cdt.libhover.library">
      <library
            docs="http://www.gnu.org/software/libc/manual/html_node/index.html"
            location="./data/glibc-2.14.libhover"
            name="glibc library"
            type="C">
      </library>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
