<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.contexts">
      <context
            name="Specfile Editor Context"
            id="org.eclipse.linuxtools.rpm.ui.specEditorScope"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Specfile Editor"
            extensions="spec"
            icon="icons/rpm.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.eclipse.linuxtools.rpm.ui.editor.SpecfileEditor"
            id="org.eclipse.linuxtools.rpm.ui.editor.SpecfileEditor">
      </editor>
   </extension>
   
   <extension
	   id="specfileerror"
	   point="org.eclipse.core.resources.markers"
	   name="Specfile Error Marker">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.core.resources.textmarker"/>
	   <persistent value="true"/>
	</extension>
	 <extension
	   id="specfiletask"
	   point="org.eclipse.core.resources.markers"
	   name="Specfile Task Marker">
	   <super type="org.eclipse.core.resources.taskmarker"/>
	   <persistent value="true"/>
	</extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
      		extensions=".spec"
            class="org.eclipse.linuxtools.rpm.ui.editor.SpecfileDocumentProvider"
            id="org.eclipse.linuxtools.rpm.ui.editor.specfileDocumentProvider">
      </provider>
   </extension>
   <extension
         point="org.eclipse.linuxtools.changelog.core.parserContribution">
      <parser
            class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileChangelogParser"
            editor="SpecfileEditor"
            name="SpecfileChangelogParser"/>
   </extension>
   <extension
         point="org.eclipse.linuxtools.changelog.core.formatterContribution">
      <formatter
            class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileChangelogFormatter"
            id="org.eclipse.linuxtools.rpm.ui.editor.actions.specfilechangelogformatter"
            inFile="true"
            name="SpecfileChangelogFormatter">
         <filePattern pattern=".*\.spec"/>
      </formatter>
   </extension>
  
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            name="preSection"
            id="org.eclipse.linuxtools.rpm.ui.editor.preSection"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            name="buildSection"
            id="org.eclipse.linuxtools.rpm.ui.editor.buildSection"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            name="preambleSection"
            id="org.eclipse.linuxtools.rpm.ui.editor.preambleSection"/>
      <include file="templates/templates.xml"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="org.eclipse.linuxtools.rpm.ui.editor.installSection"
            name="fileSection"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="org.eclipse.linuxtools.rpm.ui.editor.changelogSection"
            name="changelogSection"/>
      <include file="templates/templates.xml"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.linuxtools.rpm.ui.editor.preferences.MainPreferencePage"
            id="org.eclipse.linuxtools.rpm.ui.editor.mainpage"
            name="Specfile Editor"/>
      <page
            category="org.eclipse.linuxtools.rpm.ui.editor.mainpage"
            class="org.eclipse.linuxtools.rpm.ui.editor.preferences.RpmProposalsPreferencePage"
            id="org.eclipse.linuxtools.rpm.ui.editor.preferences.RpmProposalsPreferencePage"
            name="RPM Completions"/>
      <page
            category="org.eclipse.linuxtools.rpm.ui.editor.mainpage"
            class="org.eclipse.linuxtools.rpm.ui.editor.preferences.MacroProposalsPreferencePage"
            id="org.eclipse.linuxtools.rpm.ui.editor.preferences.MacroProposalsPreferencePage"
            name="Macro Completion"/>
      <page
            category="org.eclipse.linuxtools.rpm.ui.editor.mainpage"
            class="org.eclipse.linuxtools.rpm.ui.editor.preferences.SpecTemplatePreferencePage"
            id="org.eclipse.linuxtools.rpm.ui.editor.preferences.SpecTemplatePreferencePage"
            name="Templates"/>
      <page
            category="org.eclipse.linuxtools.rpm.ui.editor.preferences.RpmProposalsPreferencePage"
            class="org.eclipse.linuxtools.rpm.ui.editor.preferences.RpmInformationsPreferencePage"
            id="org.eclipse.linuxtools.rpm.ui.editor.preferences.RpmInformationsPreferencePage"
            name="Package Information"/>
      <page
            category="org.eclipse.linuxtools.rpm.ui.editor.mainpage"
            class="org.eclipse.linuxtools.rpm.ui.editor.preferences.TaskTagsPreferencePage"
            id="org.eclipse.linuxtools.rpm.ui.editor.preferences.TaskTagsPreferencePage"
            name="Task Tags"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.linuxtools.rpm.ui.editor.preferences.PreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.linuxtools.rpm.ui.editor.highlightannotation"
            verticalRulerPreferenceKey="highlight.rulers.vertical"
            textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="false"
            textStylePreferenceValue="UNDERLINE"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            label="Macro"
            icon="icons/occurrence_obj.gif"
            colorPreferenceValue="253,255,155"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.linuxtools.rpm.ui.editor"
            name="RPM Wizards">
      </category>
      <wizard
            category="org.eclipse.linuxtools.rpm.ui.editor"
            class="org.eclipse.linuxtools.rpm.ui.editor.wizards.SpecfileNewWizard"
            icon="icons/rpm.gif"
            id="org.eclipse.linuxtools.rpm.ui.editor.wizards.SpecfileNewWizard"
            name="New specfile based on a template">
      </wizard>
   </extension>
   <!-- Commands -->
   <extension
         point="org.eclipse.ui.commands">
         <category
            name="Editor Commands"
            description="Specfile Editor Commands"
            id="rpmEditor.category"/>
         <command
            categoryId="rpmEditor.category"
            name="Toggle Comment"
            id="rpmEditor.toggleComment.command"/>
         <command
            categoryId="rpmEditor.category"
            name="Organize patches"
            id="rpmEditor.organizePatches.command"/>
         <command
         	categoryId="rpmEditor.category"
            id="rpmEditor.showOutline.command"
            name="Show outline"/>
   </extension>
   <!-- Key bindings -->
   <extension
     point="org.eclipse.ui.bindings">
      <key
           sequence="Ctrl+Shift+C"
           commandId="rpmEditor.toggleComment.command"
           contextId="org.eclipse.ui.textEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
           sequence="Ctrl+Shift+O"
           commandId="rpmEditor.organizePatches.command"
           contextId="org.eclipse.linuxtools.rpm.ui.specEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
      	   sequence="Ctrl+O"
           commandId="rpmEditor.showOutline.command"
           contextId="org.eclipse.linuxtools.rpm.ui.specEditorScope"
           schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <!-- Action set for command bindings -->
   <extension
         point="org.eclipse.ui.actionSets">

      <actionSet
            label="Editor Commands"
            description="Specfile Editor Commands"
            visible="true"
            id="rpmEditor.actionSet">

         <action
               label="Toggle Comments"
               class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileEditorToggleCommentActionDelegate"
               definitionId="rpmEditor.toggleComment.command"
               id="rpmEditor.toggleComment.command"/>
         <action
               label="Organize patches"
               class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileEditorOrganizePatchesActionDelegate"
               definitionId="rpmEditor.organizePatches.command"
               id="rpmEditor.organizePatches.command"/>
         <action
               label="Show outline"
               class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileEditorShowOutlineActionDelegate"
               definitionId="rpmEditor.showOutline.command"
               id="rpmEditor.showOutline.command"/>
      </actionSet>
   </extension>      
   <!-- Editor menu actions -->
   <extension
         id="org.eclipse.linuxtools.rpm.ui.editor.popupMenu"
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.eclipse.linuxtools.rpm.ui.editor.viewerContribution"
            targetID="#TextEditorContext">
         <action
               class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileEditorOrganizePatchesActionDelegate"
               id="org.eclipse.linuxtools.rpm.ui.editor.organizePatchesAction"
               label="Organize patches"
               menubarPath="additions"
               tooltip="Organize patches numerically"
               definitionId="rpmEditor.organizePatches.command">
         </action>
         <action
               class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileEditorToggleCommentActionDelegate"
               id="org.eclipse.linuxtools.rpm.ui.editor.toggleCommentAction"
               label="Toggle Comments"
               menubarPath="additions"
               tooltip="Add or Remove Comments"
               definitionId="rpmEditor.toggleComment.command">
         </action>
         <action
               class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileEditorShowOutlineActionDelegate"
               id="org.eclipse.linuxtools.rpm.ui.editor.showOutlineAction"
               label="Show Outline"
               menubarPath="additions"
               tooltip="Show Outline"
               definitionId="rpmEditor.showOutline.command">
         </action>
      </viewerContribution>
   </extension>   
</plugin>
