<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.valgrind.launch.valgrindTools">
      <tool
            delegate="org.eclipse.linuxtools.valgrind.massif.MassifLaunchDelegate"
            id="org.eclipse.linuxtools.valgrind.launch.massif"
            name="massif"
            page="org.eclipse.linuxtools.valgrind.massif.MassifToolPage">
      </tool>
   </extension>
   <extension
         point="org.eclipse.linuxtools.valgrind.ui.valgrindToolViews">
      <view
            class="org.eclipse.linuxtools.valgrind.massif.MassifViewPart"
            definitionId="org.eclipse.linuxtools.valgrind.launch.massif">
      </view>
   </extension>
   <!--
   <extension
         point="org.eclipse.linuxtools.valgrind.history.statePersisters">
      <persister
            class="org.eclipse.linuxtools.valgrind.massif.MassifLaunchDelegate"
            tool="org.eclipse.linuxtools.valgrind.launch.massif">
      </persister>
   </extension>
   -->
</plugin>
