<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.eclipse.linuxtools.sequoyah.device.Category">
      </category>
      <view
            name="%view.memorymap.name"
            icon="icons/eclipse.gif"
            category="org.eclipse.linuxtools.sequoyah.device.Category"
            class="org.eclipse.linuxtools.sequoyah.device.tools.memorymap.MemoryMapView"
            id="org.eclipse.linuxtools.sequoyah.device.tools.memorymap.View">
      </view>
      <view
            category="org.eclipse.linuxtools.sequoyah.device.Category"
            class="org.eclipse.linuxtools.sequoyah.device.tools.cpuload.CpuLoadView"
            icon="icons/eclipse.gif"
            id="org.eclipse.linuxtools.sequoyah.device.tools.cpuload.View"
            name="%view.cpuload.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.sequoyah.device.base.protocols">
      <protocol
            class="org.eclipse.linuxtools.sequoyah.device.network.telnet.TelnetProvider"
            default_port="23"
            id="TELNET"
            name="Telnet">
         <capability
               id="GET_FILE">
         </capability>
      </protocol>
      <protocol
            class="org.eclipse.linuxtools.sequoyah.device.network.tcf.TCFProvider"
            default_port="1534"
            id="TM_TCF_AGENT"
            name="TM TCF Agent">
         <capability
               id="GET_FILE">
         </capability>
         <capability
               id="LIST_PROCESS">
         </capability>
      </protocol>
   </extension>
</plugin>
