<plugin>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.launchProvider">
      <provider
            default="true"
            delegate="org.eclipse.linuxtools.internal.gprof.launch.GprofLaunchConfigurationDelegate"
            id="org.eclipse.linuxtools.profiling.provider.timing.gprof"
            name="%gprofLaunchConfiguration.name.0"
            priority="1"
            shortcut="org.eclipse.linuxtools.internal.gprof.launch.GprofLaunchShortcut"
            tabgroup="org.eclipse.linuxtools.internal.gprof.launch.GprofLaunchConfigurationTabGroup"
            type="timing">
      </provider>
   </extension>   
</plugin>
