<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eu.openanalytics.editor.docker.DockerEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="dockerfile"
            icon="icons/dockerfile.png"
            id="eu.openanalytics.editor.docker.DockerEditor"
            name="Dockerfile Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="eu.openanalytics.editor.docker.presentation"
            label="Dockerfile">
      </themeElementCategory>
      <colorDefinition
            categoryId="eu.openanalytics.editor.docker.presentation"
            id="eu.openanalytics.editor.docker.color.instruction"
            label="Instruction"
            value="0,128,0">
      </colorDefinition>
      <colorDefinition
            categoryId="eu.openanalytics.editor.docker.presentation"
            id="eu.openanalytics.editor.docker.color.string"
            label="String"
            value="0,0,255">
      </colorDefinition>
      <colorDefinition
            categoryId="eu.openanalytics.editor.docker.presentation"
            id="eu.openanalytics.editor.docker.color.comment"
            label="Comment"
            value="128,128,128">
      </colorDefinition>
      <colorDefinition
            categoryId="eu.openanalytics.editor.docker.presentation"
            id="eu.openanalytics.editor.docker.color.variable"
            label="Variable"
            value="255,0,0">
      </colorDefinition>
   </extension>

</plugin>
