<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.RemoteProxyManager">
      <manager
            class="org.eclipse.linuxtools.rdt.proxy.RDTProxyManager"
            scheme="rse">
      </manager>
   </extension>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.RemoteProxyManager">
      <manager
            class="org.eclipse.linuxtools.rdt.proxy.RDTProxyManager"
            scheme="rdt">
      </manager>
   </extension>

</plugin>
