<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.RemoteProxyManager">
      <manager
            class="org.eclipse.linuxtools.internal.rdt.proxy.RDTProxyManager"
            scheme="rse">
      </manager>
   </extension>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.RemoteProxyManager">
      <manager
            class="org.eclipse.linuxtools.internal.rdt.proxy.RDTProxyManager"
            scheme="remotetools">
      </manager>
   </extension>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.RemoteProxyNatureMapping">
      <mapping
            nature="org.eclipse.ptp.rdt.sync.core.remoteSyncNature"
            schema="remotetools">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.RemoteProxyNatureMapping">
      <mapping
            nature="org.eclipse.ptp.rdt.core.remoteNature"
            schema="remotetools">
      </mapping>
   </extension>

</plugin>
