<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="valgrindTools" name="%extension-point.name.0" schema="schema/valgrindTools.exsd"/>
   <extension-point id="outputDirectoryProviders" name="%extension-point.name.1" schema="schema/outputDirectoryProviders.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.linuxtools.valgrind.launch.ValgrindLaunchConfigurationDelegate"
            id="org.eclipse.linuxtools.valgrind.launch.valgrindLaunch"
            modes="profile"
            name="%launchConfigurationType.name.0"
            public="true"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.linuxtools.valgrind.launch.ValgrindLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroup.description.0"
            id="org.eclipse.linuxtools.valgrind.launch.valgrindTabGroup"
            type="org.eclipse.linuxtools.valgrind.launch.valgrindLaunch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.linuxtools.valgrind.launch.valgrindLaunch"
            icon="icons/valgrind-icon.png"
            id="org.eclipse.linuxtools.valgrind.launch.valgrindImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.linuxtools.valgrind.launch.ValgrindLaunchShortcut"
            icon="icons/valgrind-icon.png"
            id="org.eclipse.linuxtools.valgrind.launch.shortcut1"
            label="%shortcut.label.0"
            modes="profile">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.cdt.core.model.IBinary">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.cdt.core.model.ICProject">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isExecutable">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isCProject">
                        </test>
                        <and>
                           <instanceof
                                 value="org.eclipse.ui.IFileEditorInput">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <adapt
                                    type="org.eclipse.cdt.core.model.ICElement">
                              </adapt>
                           </adapt>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType
               id="org.eclipse.linuxtools.valgrind.launch.valgrindLaunch">
         </configurationType>
      </shortcut>
   </extension>

</plugin>
