<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.linuxtools.tools.launch.ui.properties.LinuxtoolsPathPropertyPage"
            id="org.eclipse.linuxtools.tools.launch.ui.LinuxtoolsPage"
            name="Linux Tools Path">
         <filter
               name="projectNature"
               value="org.eclipse.cdt.core.cnature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
