<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="LinuxtoolsPathOptions" name="LinuxtoolsPathOptions" schema="schema/LinuxtoolsPathOptions.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.linuxtools.tools.launch.ui.properties.LinuxtoolsPathPropertyPage"
            id="org.eclipse.linuxtools.tools.launch.ui.LinuxtoolsPage"
            name="Linux Tools Path">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>

</plugin>
