<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.linuxtools.sleepingthreads.launch.LaunchSleepingThreads"
            id="org.eclipse.linuxtools.systemtap.quicklaunchStapGraph2"
            label="Sleeping thread monitor"
            modes="profile">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.cdt.core.model.IBinary">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.cdt.core.model.ICProject">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isExecutable">
                        </test>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.cdt.launch.isCProject">
                        </test>
                        <and>
                           <instanceof
                                 value="org.eclipse.ui.IFileEditorInput">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <adapt
                                    type="org.eclipse.cdt.core.model.ICElement">
                              </adapt>
                           </adapt>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   
 <extension
       id="org.eclipse.linuxtools.sleepingthreadparser"
       name="SleepingThreadParser"
       point="org.eclipse.linuxtools.callgraph.core.parser">
    <parser
          class="org.eclipse.linuxtools.sleepingthreads.SleepingThreadsParser"
          realtime="true">
    </parser>
 </extension>
 
 
    <extension
               id="org.eclipse.linuxtools.sleepingthreads.xmlview"
               name="XMLGraphView"
               point="org.eclipse.ui.views">
      <view
            category="org.eclipse.cdt.ui.views"
            class="org.eclipse.linuxtools.sleepingthreads.XMLGraphingView"
            id="org.eclipse.linuxtools.sleepingthreads.xmlview"
            name="XML Graph View"
            restorable="true">
      </view>
   </extension>
   
</plugin>
