<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Perf Profile View"
            icon="icons/file.gif"
            category="org.eclipse.linuxtools.profiling.ui"
            class="org.eclipse.linuxtools.perf.ui.PerfProfileView"
            id="org.eclipse.linuxtools.perf.ui.ProfileView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.linuxtools.perf.launch.PerfLaunchShortcut"
            icon="icons/symbol.gif"
            id="org.eclipse.linuxtools.perf.launch.profileshortcut"
            label="Profile with Perf!"
            modes="profile">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <instanceof
                              value="org.eclipse.cdt.core.model.IBinary">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.cdt.core.model.ICProject">
                        </instanceof>
                        <test
                              property="org.eclipse.cdt.launch.isExecutable">
                        </test>
                        <test
                              property="org.eclipse.cdt.launch.isCProject">
                        </test>
                        <and>
                           <instanceof
                                 value="org.eclipse.ui.IFileEditorInput">
                           </instanceof>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <adapt
                                    type="org.eclipse.cdt.core.model.ICElement">
                              </adapt>
                           </adapt>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.linuxtools.perf.launch.PerfLaunchConfigDelegate"
            id="org.eclipse.linuxtools.perf.launch.profile"
            modes="profile"
            name="Profile with Perf"
            public="true"
            sourceLocatorId="org.eclipse.cdt.launch.DefaultSourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.linuxtools.perf.launch.PerfLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.perf.launch.launchConfigurationTabGroup"
            type="org.eclipse.linuxtools.perf.launch.profile">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.linuxtools.perf.launch.profile"
            icon="icons/symbol.gif"
            id="org.eclipse.linuxtools.perf.launch.perfImage">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
