<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="feature.xml"
            id="org.eclipse.linuxtools.rpmstubby.contribution1">
         <menu
               label="Stubby"
               path="additions"
               id="org.eclipse.linuxtools.rpmstubby.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Stub out an RPM specfile"
               class="org.eclipse.linuxtools.rpmstubby.popup.actions.StubifyAction"
               menubarPath="org.eclipse.linuxtools.rpmstubby.menu1/group1"
               enablesFor="+"
               id="org.eclipse.linuxtools.rpmstubby.newAction">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.linuxtools.rpmstubby.contribution2">
                     <menu
               label="Stubby"
               path="additions"
               id="org.eclipse.linuxtools.rpmstubby.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Stub out an RPM specfile"
               class="org.eclipse.linuxtools.rpmstubby.popup.actions.StubifyAction"
               menubarPath="org.eclipse.linuxtools.rpmstubby.menu1/group1"
               enablesFor="+"
               id="org.eclipse.linuxtools.rpmstubby.newAction">
         </action>
         <visibility>
         <or>
            <objectState 
	            name="projectNature" 
	            value="org.eclipse.pde.FeatureNature"/>
	            </or>
	            </visibility>
	            </objectContribution>
   </extension>

</plugin>
