<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.linuxtools.rpm.speceditor.rcp.product"
            description="An RPM spec file editor"
            name="RPM Editor">
      </product>
   </extension>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.eclipse.linuxtools.rpm.speceditor.rcp.RPMEditorApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.linuxtools.rpm.speceditor.rcp.RPMEditorPerspective"
            icon="icons/perspective.gif"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.perspective"
            name="Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.linuxtools.rpm.ui.editor.SpecfileEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="spec"
            icon="icons/rpm.gif"
            id="org.eclipse.linuxtools.rpm.rcp.editor1"
            name="%editor.name">
      </editor>
      <editor
            class="org.eclipse.linuxtools.rpm.ui.editor.forms.SpecfileFormEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="spec"
            icon="icons/rpm.gif"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.editor2"
            name="%editor.name.0">
      </editor>
   </extension>
   <extension
	   id="specfileerror"
	   point="org.eclipse.core.resources.markers"
	   name="%extension.name">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.eclipse.core.resources.textmarker"/>
	   <persistent value="true"/>
	</extension>
	 <extension
	   id="specfiletask"
	   point="org.eclipse.core.resources.markers"
	   name="%extension.name.0">
	   <super type="org.eclipse.core.resources.taskmarker"/>
	   <persistent value="true"/>
	</extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.linuxtools.rpm.ui.editor.SpecfileDocumentProvider"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.specfileDocumentProvider"
            inputTypes="org.eclipse.linuxtools.rpm.speceditor.rcp.PathEditorInput">
      </provider>
   </extension>
   <extension
         point="org.eclipse.linuxtools.changelog.core.parserContribution">
      <parser
            class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileChangelogParser"
            editor="SpecfileEditor"
            name="SpecfileChangelogParser"/>
   </extension>
   <extension
         point="org.eclipse.linuxtools.changelog.core.formatterContribution">
      <formatter
            class="org.eclipse.linuxtools.rpm.ui.editor.actions.SpecfileChangelogFormatter"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.actions.specfilechangelogformatter"
            inFile="true"
            name="SpecfileChangelogFormatter">
         <filePattern pattern=".*\.spec"/>
      </formatter>
   </extension>
  
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            name="preSection"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.preSection"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            name="buildSection"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.buildSection"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            name="preambleSection"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.preambleSection"/>
      <include file="templates/templates.xml"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.installSection"
            name="fileSection"/>
      <contextType
            class="org.eclipse.jface.text.templates.TemplateContextType"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.changelogSection"
            name="changelogSection"/>
      <include file="templates/templates.xml"/>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.linuxtools.rpm.ui.editor.preferences.PreferenceInitializer"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.linuxtools.rpm.ui.editor.highlightannotation"
            verticalRulerPreferenceKey="highlight.rulers.vertical"
            textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="false"
            textStylePreferenceValue="UNDERLINE"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            label="Macro"
            icon="icons/occurrence_obj.gif"
            colorPreferenceValue="253,255,155"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.linuxtools.rpm.ui.editor"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.linuxtools.rpm.ui.editor"
            class="org.eclipse.linuxtools.rpm.ui.editor.wizards.SpecfileNewWizard"
            icon="icons/rpm.gif"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.wizards.SpecfileNewWizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <!-- Compare support-->
   <extension point="org.eclipse.compare.contentMergeViewers">
	  <viewer
		id="org.eclipse.linuxtools.rpm.speceditor.rcp.SpecMergeViewer"
		extensions="spec"
		class="org.eclipse.linuxtools.rpm.ui.editor.compare.SpecMergeViewerCreator">
	  </viewer>
   </extension>
   <extension point="org.eclipse.compare.structureMergeViewers">
	  <viewer
		id="org.eclipse.linuxtools.rpm.speceditor.rcp.SpecStructureMergeViewer"
		extensions="spec"
		class="org.eclipse.linuxtools.rpm.ui.editor.compare.SpecStructureMergeViewerCreator">
	  </viewer>
   </extension>
   <extension point ="org.eclipse.compare.structureCreators">
 		<structureCreator id="org.eclipse.linuxtools.rpm.speceditor.rcp.SpecStructureCreator" 
		class="org.eclipse.linuxtools.rpm.ui.editor.compare.SpecStructureCreator" extensions="spec"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.linuxtools.rpm.speceditor.rcp.application"
            name="RPM Specfile Editor">
         <property
               name="appName"
               value="RPM Specfile Editor">
         </property>
         <property
               name="aboutText"
               value="RPM Specfile Editor V1.0">
         </property>
         <property
               name="aboutImage"
               value="icons/rpm.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            description="Open a file"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.commands.OpenFile"
            name="Open"/>
   </extension>
  
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.linuxtools.rpm.speceditor.rcp.commands.OpenFile"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O"/>
   </extension>
  
   <!-- must come after the command definition above -->
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="File Action Set"
            visible="true"
            id="org.eclipse.linuxtools.rpm.speceditor.rcp.fileActionSet">
         <action
               id="org.eclipse.linuxtools.rpm.speceditor.rcp.actions.OpenFile"
               icon="icons/open.gif"
               label="%openAction.name"
               tooltip="Open a File"
               toolbarPath="org.eclipse.ui.workbench.file/open.ext"
               menubarPath="file/new.ext"
               class="org.eclipse.linuxtools.rpm.speceditor.rcp.actions.OpenFileAction"
               definitionId="org.eclipse.linuxtools.rpm.speceditor.rcp.commands.OpenFile"
               style="push"
               state="false"/>
      </actionSet>
   </extension>

</plugin>
