<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="linuxtools-e4.7" sequenceNumber="14">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.6.2.v20161117-2150"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.6.2.v20161117-2150"/>
<unit id="com.github.jnr.constants" version="0.9.1.v20161107-2054"/>
<unit id="com.github.jnr.enxio" version="0.12.0.v20161107-2054"/>
<unit id="com.github.jnr.ffi" version="2.0.9.v20161107-2054"/>
<unit id="com.github.jnr.jffi" version="1.2.11.v20170413-2020"/>
<unit id="com.github.jnr.jffi.native" version="1.2.11.v20170413-2020"/>
<unit id="com.github.jnr.posix" version="3.0.29.v20161107-2054"/>
<unit id="com.github.jnr.unixsocket" version="0.12.0.v20161107-2054"/>
<unit id="com.google.guava" version="21.0.0.v20170206-1425"/>
<unit id="com.spotify.docker.client" version="6.1.1.v20170301-1624"/>
<unit id="com.spotify.docker.client.source" version="6.1.1.v20170301-1624"/>
<unit id="javassist" version="3.13.0.GA_v201209210905"/>
<unit id="javax.ws.rs" version="2.0.1.v201504171603"/>
<unit id="jnr.x86asm" version="1.0.2.v201505052040"/>
<unit id="org.aopalliance" version="1.0.0.v201105210816"/>
<unit id="org.apache.commons.codec" version="1.9.0.v20170208-1614"/>
<unit id="org.apache.commons.compress" version="1.6.0.v201310281400"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.2.v20170210-0925"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.6.v20170210-0925"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.assertj" version="1.7.1.v20170413-2026"/>
<unit id="org.bouncycastle.bcpkix" version="1.52.0.v20161004-1854"/>
<unit id="org.bouncycastle.bcprov" version="1.52.0.v20161004-1854"/>
<unit id="org.cyberneko.html" version="1.9.14.v201105210654"/>
<unit id="org.glassfish.hk2.api" version="2.5.0.v20161103-0227"/>
<unit id="org.glassfish.hk2.locator" version="2.5.0.v20161103-0227"/>
<unit id="org.glassfish.hk2.osgi-resource-locator" version="2.5.0.v20161103-1916"/>
<unit id="org.glassfish.hk2.utils" version="2.5.0.v20160210-1508"/>
<unit id="org.glassfish.jersey.apache.connector" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.bundles.repackaged.jersey-guava" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.core.jersey-client" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.core.jersey-common" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.core.jersey-server" version="2.22.1.v20161103-1916"/>
<unit id="org.glassfish.jersey.ext.entityfiltering" version="2.22.1.v20161103-0227"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.22.1.v20161117-2005"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.objectweb.asm" version="5.2.0.v20170126-0011"/>
<unit id="org.objectweb.asm.analysis" version="5.2.0.v20170126-0011"/>
<unit id="org.objectweb.asm.tree" version="5.2.0.v20170126-0011"/>
<unit id="org.objectweb.asm.util" version="5.2.0.v20170126-0011"/>
<unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.assertj" version="1.7.1.v20170413-2026"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201404270220"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.swtchart" version="0.10.0.v201605200358"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20170516192513/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/cdt/releases/9.3"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.core" version="0.0.0"/>
<unit id="org.eclipse.jdt.debug.ui" version="0.0.0"/>
<unit id="org.eclipse.jdt.ui" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.pde.runtime" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/technology/swtbot/releases/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.zest.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dstore.core" version="0.0.0"/>
<unit id="org.eclipse.ptp.rdt.sync.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/oxygen/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.reddeer.eclipse.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.reddeer.tests.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.reddeer.ui.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/reddeer/milestones/2.0.0.Beta"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
<launcherArgs>
<vmArgs>-Xms40m
-Xmx512M</vmArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>
