<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="linuxtools-e4.18" sequenceNumber="4">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.10.3.v20200512-1600"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.10.3.v20200512-1600"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.10.3.v20200512-1600"/>
<unit id="com.fasterxml.jackson.datatype.jackson-datatype-guava" version="2.10.3.v20200512-1600"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-base" version="2.10.3.v20200512-1600"/>
<unit id="com.fasterxml.jackson.jaxrs.jackson-jaxrs-json-provider" version="2.10.3.v20200512-1600"/>
<unit id="com.github.jnr.constants" version="0.9.15.v20200501-1917"/>
<unit id="com.github.jnr.enxio" version="0.25.0.v20200501-1917"/>
<unit id="com.github.jnr.ffi" version="2.1.12.v20200513-1859"/>
<unit id="com.github.jnr.jffi" version="1.2.23.v20200501-1917"/>
<unit id="com.github.jnr.jffi.native" version="1.2.23.v20200501-1917"/>
<unit id="com.github.jnr.posix" version="3.0.54.v20200501-1917"/>
<unit id="com.github.jnr.unixsocket" version="0.28.0.v20200501-1917"/>
<unit id="com.google.gson" version="2.8.2.v20180104-1110"/>
<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
<unit id="org.mandas.docker-client" version="3.2.1.v20200519-1937"/>
<unit id="org.mandas.docker-client.source" version="3.2.1.v20200519-1937"/>
<unit id="javassist" version="3.13.0.GA_v201209210905"/>
<unit id="javax.ws.rs" version="2.1.6.v20200505-2127"/>
<unit id="jakarta.xml.bind" version="2.3.3.v20200525-2159"/>
<unit id="javax.xml.stream" version="1.0.1.v201004272200"/>
<unit id="com.github.jnr.x86asm" version="1.0.2.v20200501-1917"/>
<unit id="org.aopalliance" version="1.0.0.v201105210816"/>
<unit id="org.apache.commons.codec" version="1.13.0.v20200108-0001"/>
<unit id="org.apache.commons.compress" version="1.19.0.v20200106-2343"/>
<unit id="org.apache.commons.io" version="2.6.0.v20190123-2029"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.10.v20200114-1512"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.12.v20200108-1212"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<unit id="org.assertj" version="3.14.0.v20200120-1926"/>
<unit id="org.bouncycastle.bcpkix" version="1.65.0.v20200527-1955"/>
<unit id="org.bouncycastle.bcprov" version="1.65.1.v20200529-1514"/>
<unit id="org.cyberneko.html" version="1.9.14.v201105210654"/>
<unit id="org.glassfish.hk2.api" version="2.6.1.v20200513-1859"/>
<unit id="org.glassfish.hk2.locator" version="2.6.1.v20200513-1859"/>
<unit id="org.glassfish.hk2.osgi-resource-locator" version="1.0.3.v20200509-0149"/>
<unit id="org.glassfish.hk2.utils" version="2.6.1.v20200513-1859"/>
<unit id="org.glassfish.jersey.apache.connector" version="2.30.1.v20200513-1859"/>
<unit id="org.glassfish.jersey.containers.servlet" version="2.30.1.v20200513-1859"/>
<unit id="org.glassfish.jersey.containers.servlet.core" version="2.30.1.v20200513-1859"/>
<unit id="org.glassfish.jersey.core.jersey-client" version="2.30.1.v20200513-1859"/>
<unit id="org.glassfish.jersey.core.jersey-common" version="2.30.1.v20200513-1859"/>
<unit id="org.glassfish.jersey.core.jersey-server" version="2.30.1.v20200513-1859"/>
<unit id="org.glassfish.jersey.ext.entityfiltering" version="2.30.1.v20200513-1859"/>
<unit id="org.glassfish.jersey.inject.jersey-hk2" version="2.30.1.v20200512-1802"/>
<unit id="org.glassfish.jersey.media.jersey-media-json-jackson" version="2.30.1.v20200513-1859"/>
<unit id="org.mockito" version="2.23.0.v20200310-1642"/>
<unit id="org.objectweb.asm" version="8.0.1.v20200420-1007"/>
<unit id="org.objectweb.asm.analysis" version="8.0.1.v20200420-1007"/>
<unit id="org.objectweb.asm.tree" version="8.0.1.v20200420-1007"/>
<unit id="org.objectweb.asm.util" version="8.0.1.v20200420-1007"/>
<unit id="org.slf4j.api" version="1.7.30.v20200204-2150"/>
<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/S20200817205214/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
<unit id="org.eclipse.jdt.core" version="0.0.0"/>
<unit id="org.eclipse.jdt.debug.ui" version="0.0.0"/>
<unit id="org.eclipse.jdt.ui" version="0.0.0"/>
<unit id="org.eclipse.jdt.junit4.runtime" version="0.0.0"/>
<unit id="org.eclipse.pde.runtime" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ui.tests.harness" version="0.0.0"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.18-I-builds/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<repository location="https://ci.eclipse.org/cdt/job/cdt-master/lastSuccessfulBuild/artifact/releng/org.eclipse.cdt.repo/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dstore.core" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.rdt.sync.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.feature.group" version="0.0.0"/>
<unit id="org.eclipse.zest.feature.group" version="0.0.0"/>
<unit id="org.eclipse.lsp4e" version="0.0.0"/>
<unit id="org.eclipse.tm4e.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/staging/2020-12/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
<repository location="https://ci.eclipse.org/cdt/job/cdt-master/lastSuccessfulBuild/artifact/releng/org.eclipse.cdt.repo/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.reddeer.eclipse.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.reddeer.tests.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.reddeer.ui.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/reddeer/releases/latest/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wildwebdeveloper.embedder.node.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/wildwebdeveloper/snapshots/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtchart.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtchart.feature.source.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/swtchart/integration/develop/repository"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
<launcherArgs>
<vmArgs>-Xms40m
-Xmx512M</vmArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>
