<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="linuxtools-e4.29" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.github.jnr.a64asm" version="1.0.0.v20230715-0746"/>
<unit id="com.github.jnr.x86asm" version="1.0.2.v20230715-0746"/>
<unit id="org.apache.xerces" version="2.12.2.v20220131-0835"/>
<unit id="org.aopalliance" version="1.0.0.v20230720-0728"/>
<unit id="org.apache.httpcomponents.httpcore" version="4.4.16.v20221207-1049"/>
<unit id="org.apache.httpcomponents.httpclient" version="4.5.14.v20230516-1249"/>
<repository location="https://download.eclipse.org/tools/orbit/simrel/orbit-aggregation/2023-09"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.cyberneko.html" version="1.9.14.v201105210654"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20201118194144/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.annotation" version="0.0.0"/>
<unit id="org.eclipse.jdt.core" version="0.0.0"/>
<unit id="org.eclipse.jdt.debug.ui" version="0.0.0"/>
<unit id="org.eclipse.jdt.ui" version="0.0.0"/>
<unit id="org.eclipse.jdt.junit4.runtime" version="0.0.0"/>
<unit id="org.eclipse.pde.runtime" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ui.tests.harness" version="0.0.0"/>
<unit id="org.objectweb.asm" version="0.0.0"/>
<unit id="org.objectweb.asm.util" version="0.0.0"/>
<unit id="org.objectweb.asm.tree" version="0.0.0"/>
<unit id="org.mockito.mockito-core" version="0.0.0"/>
<unit id="assertj-core" version="0.0.0"/>
<unit id="com.google.gson" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="0.0.0"/>
<unit id="org.apache.commons.commons-io" version="0.0.0"/>
<unit id="org.hamcrest.core" version="0.0.0"/>
<unit id="slf4j.api" version="0.0.0"/>
<unit id="jakarta.annotation-api" version="0.0.0"/>
<repository location="https://download.eclipse.org/eclipse/updates/4.29-I-builds/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/cbi/updates/license"/>https://download.eclipse.org/wildwebdeveloper/snapshots/
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.wildwebdeveloper.embedder.node.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/wildwebdeveloper/snapshots/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.tm.terminal.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.autotools.feature.group" version="0.0.0"/>
<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.launchbar.feature.group" version="0.0.0"/>
<unit id="org.eclipse.remote.feature.group" version="0.0.0"/>
<repository location="https://ci.eclipse.org/cdt/job/cdt/job/main/lastSuccessfulBuild/artifact/releng/org.eclipse.cdt.repo/target/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtbot.feature.group" version="0.0.0"/>
<unit id="org.eclipse.dstore.core" version="0.0.0"/>
<unit id="org.eclipse.jgit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ptp.rdt.sync.feature.group" version="0.0.0"/>
<unit id="org.eclipse.zest.feature.group" version="0.0.0"/>
<unit id="org.eclipse.lsp4e" version="0.0.0"/>
<unit id="org.eclipse.tm4e.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.reddeer.eclipse.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.reddeer.ui.feature.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/releases/2023-09/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtchart.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.swtchart.feature.source.feature.group" version="0.0.0"/>
<repository location="https://download.eclipse.org/swtchart/releases/0.14.0/repository"/>
</location>
	<location includeDependencyDepth="none" includeDependencyScopes="compile" includeSource="true" missingManifest="error" type="Maven">
		<dependencies>
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-annotations</artifactId>
				<version>2.15.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-core</artifactId>
				<version>2.15.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.core</groupId>
				<artifactId>jackson-databind</artifactId>
				<version>2.15.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.datatype</groupId>
				<artifactId>jackson-datatype-guava</artifactId>
				<version>2.15.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.jaxrs</groupId>
				<artifactId>jackson-jaxrs-base</artifactId>
				<version>2.15.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.jaxrs</groupId>
				<artifactId>jackson-jaxrs-json-provider</artifactId>
				<version>2.15.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.fasterxml.jackson.module</groupId>
				<artifactId>jackson-module-jaxb-annotations</artifactId>
				<version>2.15.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.github.jnr</groupId>
				<artifactId>jffi</artifactId>
				<version>1.3.11</version>
				<type>jar</type>
				<classifier>complete</classifier>
			</dependency>
			<dependency>
				<groupId>com.github.jnr</groupId>
				<artifactId>jffi</artifactId>
				<version>1.3.11</version>
				<type>jar</type>
				<classifier>native</classifier>
			</dependency>
			<dependency>
				<groupId>com.github.jnr</groupId>
				<artifactId>jnr-constants</artifactId>
				<version>0.10.4</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.github.jnr</groupId>
				<artifactId>jnr-enxio</artifactId>
				<version>0.32.15</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.github.jnr</groupId>
				<artifactId>jnr-ffi</artifactId>
				<version>2.2.14</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.github.jnr</groupId>
				<artifactId>jnr-posix</artifactId>
				<version>3.1.17</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.github.jnr</groupId>
				<artifactId>jnr-unixsocket</artifactId>
				<version>0.38.20</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>com.google.guava</groupId>
				<artifactId>guava</artifactId>
				<version>32.1.2-jre</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.ws.rs</groupId>
				<artifactId>jakarta.ws.rs-api</artifactId>
				<version>2.1.6</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>jakarta.xml.bind</groupId>
				<artifactId>jakarta.xml.bind-api</artifactId>
				<version>2.3.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-compress</artifactId>
				<version>1.23.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.bouncycastle</groupId>
				<artifactId>bcprov-jdk18on</artifactId>
				<version>1.76</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.bouncycastle</groupId>
				<artifactId>bcpkix-jdk18on</artifactId>
				<version>1.76</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.bouncycastle</groupId>
				<artifactId>bcutil-jdk18on</artifactId>
				<version>1.76</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.hk2</groupId>
				<artifactId>hk2-api</artifactId>
				<version>2.6.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.hk2</groupId>
				<artifactId>hk2-locator</artifactId>
				<version>2.6.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.hk2</groupId>
				<artifactId>hk2-utils</artifactId>
				<version>2.6.1</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.hk2</groupId>
				<artifactId>osgi-resource-locator</artifactId>
				<version>1.0.3</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.connectors</groupId>
				<artifactId>jersey-apache-connector</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.containers</groupId>
				<artifactId>jersey-container-servlet-core</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.containers</groupId>
				<artifactId>jersey-container-servlet</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.core</groupId>
				<artifactId>jersey-client</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.core</groupId>
				<artifactId>jersey-common</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.core</groupId>
				<artifactId>jersey-server</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.ext</groupId>
				<artifactId>jersey-entity-filtering</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.inject</groupId>
				<artifactId>jersey-hk2</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.glassfish.jersey.media</groupId>
				<artifactId>jersey-media-json-jackson</artifactId>
				<version>2.40</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.hamcrest</groupId>
				<artifactId>hamcrest</artifactId>
				<version>2.2</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.javassist</groupId>
				<artifactId>javassist</artifactId>
				<version>3.29.2-GA</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.mandas</groupId>
				<artifactId>docker-client</artifactId>
				<version>5.2.2</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
<launcherArgs>
<programArgs>-consolelog</programArgs>
</launcherArgs>
</target>