<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="library"
         name="Newlib C Library"
         point="org.eclipse.linuxtools.cdt.libhover.library">
      <library
            docs="http://www.sourceware.org/newlib/libc.html"
            location="./data/newlib-1.16.0.libhover"
            name="newlib library"
            type="C">
      </library>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="false">
      </toc>
   </extension>

</plugin>
