<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.profiling.ui"
            class="org.eclipse.linuxtools.internal.gcov.view.CovView"
            icon="icons/toggle.gif"
            id="org.eclipse.linuxtools.gcov.view"
            name="%gcov"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.linuxtools.internal.gcov.view.annotatedsource.STAnnotatedSourceNotFoundEditor"
            icon="icons/src_file_obj.gif"
            id="org.eclipse.linuxtools.gcov.view.annotatedsource.STAnnotatedSourceNotFoundEditor"
            name="Source Not Found">
      </editor>
      <editor
            default="true"
            extensions="gcda, gcno"
            icon="icons/toggle.gif"
            id="org.eclipse.linuxtools.gcov.editor"
            launcher="org.eclipse.linuxtools.internal.gcov.action.OpenGCAction"
            name="%gcovEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.linuxtools.internal.gcov.preferences.ColorPreferencePage"
            id="org.eclipse.linuxtools.gcov.core.preferences.colors"
            name="%colorprefpage"
            category="org.eclipse.linuxtools.profiling.provider.MainPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.linuxtools.internal.gcov.preferences.ColorPreferencesInitializer">
      </initializer>
   </extension>
   
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.linuxtools.gcov.CoverageAnnotation"
            colorPreferenceKey="coverage_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="coverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="coverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="coverage_isGoToPreviousNavigationTargetKey"
            label="%coverage"
            overviewRulerPreferenceKey="coverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="coverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="coverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="coverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="coverage_verticalRuler"
            verticalRulerPreferenceValue="true"/>
      <specification
            annotationType="org.eclipse.linuxtools.gcov.NoCoverageAnnotation"
            colorPreferenceKey="nocoverage_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
            label="%noCoverage"
            overviewRulerPreferenceKey="nocoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="org.eclipse.linuxtools.gcov.ThoroughCoverageAnnotation"
            colorPreferenceKey="thcoverage_color"
            colorPreferenceValue="0,240,0"
            contributesToHeader="false"
            highlightPreferenceKey="thcoverage_highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="thcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="thcoverage_isGoToPreviousNavigationTargetKey"
            label="%thoroughCoverage"
            overviewRulerPreferenceKey="thcoverage_overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="thcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="thcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="thcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="thcoverage_verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="org.eclipse.linuxtools.gcov.CoverageAnnotation">
      </type>
      <type
            name="org.eclipse.linuxtools.gcov.NoCoverageAnnotation">
      </type>
      <type
            name="org.eclipse.linuxtools.gcov.ThoroughCoverageAnnotation">
      </type>
   </extension>


</plugin>
