<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.linuxtools.gcov"
            name="%gcovCategory">
      </category>
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.gcov"
            class="org.eclipse.linuxtools.internal.gcov.view.CovView"
            icon="icons/toggle.gif"
            id="org.eclipse.linuxtools.gcov.view"
            name="%gcov"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.linuxtools.internal.gcov.view.annotatedsource.STAnnotatedSourceNotFoundEditor"
            icon="icons/src_file_obj.gif"
            id="org.eclipse.linuxtools.gcov.view.annotatedsource.STAnnotatedSourceNotFoundEditor"
            name="Source Not Found">
      </editor>
      <editor
            default="true"
            extensions="gcda, gcno"
            icon="icons/toggle.gif"
            id="org.eclipse.linuxtools.gcov.editor"
            launcher="org.eclipse.linuxtools.internal.gcov.action.OpenGCAction"
            name="%gcovEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.linuxtools.internal.gcov.preferences.ColorPreferencePage"
            id="org.eclipse.linuxtools.gcov.core.preferences.colors"
            name="%colorprefpage"
            category="org.eclipse.linuxtools.profiling.provider.MainPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.linuxtools.internal.gcov.preferences.ColorPreferencesInitializer">
      </initializer>
   </extension>


</plugin>
