LI {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	margin-top: 10px;
	margin-bottom: 10px;
}
DT {
	font-style: normal;
	font-weight: bold;
	font-size: 10pt;
	margin-top: 10px;
	margin-bottom: 5px;
}
