<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.linuxtools.cdt.libhover.library" name="C/C++ Library Hover Specifier" schema="schema/org.eclipse.linuxtools.cdt.libhover.library.exsd"/>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            class="org.eclipse.linuxtools.cdt.libhover.preferences.LibHoverPreferencePage"
            id="org.eclipse.linuxtools.cdt.libhover.preferences.LibhoverPreferencePage"
            name="%LibhoverPreference.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.linuxtools.cdt.libhover.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            category="org.eclipse.cdt.ui.newui.Page_head_general"
            class="org.eclipse.linuxtools.cdt.libhover.properties.LibHoverPropertyPage"
            id="org.eclipse.linuxtools.cdt.libhover.properties.samplePropertyPage"
            name="%LibhoverProperty.name"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.cdt.ui.CHelpProvider">
      <provider
            class="org.eclipse.linuxtools.cdt.libhover.LibHover"
            id="org.eclipse.linuxtools.cdt.libhover.provider"/>
   </extension>
</plugin>
