<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.linuxtools.man"
            name="%category.name">
      </category>
      <view
            category="org.eclipse.linuxtools.man"
            class="org.eclipse.linuxtools.man.views.ManView"
            icon="icons/sample.gif"
            id="org.eclipse.linuxtools.man.views.ManView"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.linuxtools.internal.man.preferences.ManPathPage"
            id="org.eclipse.linuxtools.man.preferences.ManPathPage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.linuxtools.internal.man.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
