<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.linuxtools.internal.docker.editor.DockerEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="dockerfile"
            filenames="Dockerfile" 
            icon="icons/dockerfile.png"
            id="org.eclipse.linuxtools.DockerEditor"
            name="Dockerfile Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.eclipse.linuxtools.docker.editor.presentation"
            label="Dockerfile">
      </themeElementCategory>
      <colorDefinition
            categoryId="org.eclipse.linuxtools.docker.editor.presentation"
            id="org.eclipse.linuxtools.docker.editor.color.instruction"
            label="Instruction"
            value="0,128,0">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.linuxtools.docker.editor.presentation"
            id="org.eclipse.linuxtools.docker.editor.color.string"
            label="String"
            value="0,0,255">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.linuxtools.docker.editor.presentation"
            id="org.eclipse.linuxtools.docker.editor.color.comment"
            label="Comment"
            value="128,128,128">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.linuxtools.docker.editor.presentation"
            id="org.eclipse.linuxtools.docker.ediotr.color.variable"
            label="Variable"
            value="255,0,0">
      </colorDefinition>
   </extension>

</plugin>
