<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="dockerfile"
            file-names="Dockerfile"
            id="org.eclipse.linuxtools.dockerfile.content-type"
            name="Dockerfile"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.linuxtools.internal.docker.editor.DockerDocumentProvider"
            extensions="dockerfile"
            id="org.eclipse.linuxtools.docker.editor.documentProvider">
      </provider>
   </extension>
    <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.linuxtools.internal.docker.editor.DockerPresentationReconciler"
            contentType="org.eclipse.linuxtools.dockerfile.content-type">
      </presentationReconciler>
   </extension>
   <extension point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.linuxtools.internal.docker.editor.assist.CompletionProcessor"
            contentType="org.eclipse.linuxtools.dockerfile.content-type">
      </contentAssistProcessor>
   </extension>
   <extension point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
     		class="org.eclipse.linuxtools.internal.docker.editor.DockerHover"
     		contentType="org.eclipse.linuxtools.dockerfile.content-type">
  	  </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.linuxtools.internal.docker.editor.DockerEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="icons/dockerfile.png"
            id="org.eclipse.linuxtools.DockerEditor"
            name="Dockerfile Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.linuxtools.dockerfile.content-type">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.eclipse.linuxtools.docker.editor.presentation"
            label="Dockerfile">
      </themeElementCategory>
      <colorDefinition
            categoryId="org.eclipse.linuxtools.docker.editor.presentation"
            id="org.eclipse.linuxtools.docker.editor.color.instruction"
            label="Instruction"
            value="0,128,0">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.linuxtools.docker.editor.presentation"
            id="org.eclipse.linuxtools.docker.editor.color.string"
            label="String"
            value="0,0,255">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.linuxtools.docker.editor.presentation"
            id="org.eclipse.linuxtools.docker.editor.color.comment"
            label="Comment"
            value="128,128,128">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.linuxtools.docker.editor.presentation"
            id="org.eclipse.linuxtools.docker.editor.color.variable"
            label="Variable"
            value="255,0,0">
      </colorDefinition>
   </extension>

</plugin>
