<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.ide.name"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.IDEPerspective"
            icon="icons/perspective_obj.gif"
            id="org.eclipse.linuxtools.systemtap.ui.ide.IDEPerspective">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.systemtap.ui"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.views.FunctionBrowserView"
            icon="icons/views/func_obj.gif"
            id="org.eclipse.linuxtools.internal.systemtap.ui.ide.views.FunctionBrowserView"
            name="%view.function.name">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.systemtap.ui"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.views.KernelBrowserView"
            icon="icons/views/kernel_obj.gif"
            id="org.eclipse.linuxtools.internal.systemtap.ui.ide.views.KernelBrowserView"
            name="%view.kernel.name">
      </view>
      <view
            allowMultiple="true"
            category="org.eclipse.linuxtools.systemtap.ui"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.views.ProbeAliasBrowserView"
            icon="icons/views/probe_obj.gif"
            id="org.eclipse.linuxtools.internal.systemtap.ui.ide.views.ProbeAliasBrowserView"
            name="%view.probe.name">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.linuxtools.internal.systemtap.ui.ide.views.FunctionBrowserView">
         <command commandId="org.eclipse.ui.navigate.collapseAll"/>
      </menuContribution>

      <menuContribution
            locationURI="toolbar:org.eclipse.linuxtools.internal.systemtap.ui.ide.views.KernelBrowserView">
         <command commandId="org.eclipse.ui.navigate.collapseAll"/>
      </menuContribution>

      <menuContribution
            locationURI="toolbar:org.eclipse.linuxtools.internal.systemtap.ui.ide.views.ProbeAliasBrowserView">
         <command commandId="org.eclipse.ui.navigate.collapseAll"/>
      </menuContribution>

      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.linuxtools.systemtap.ui.ide.toolbar"
               label="%toolbar.actions.name">
            <separator
                  name="fileGroup"
                  visible="true">
            </separator>
            <separator
                  name="runGroup"
                  visible="true">
            </separator>
            <separator
                  name="chartGroup"
                  visible="true">
            </separator>
         </toolbar>
      </menuContribution>

      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.linuxtools.systemtap.ui.ide.toolbar?after=fileGroup">
         <command
               commandId="org.eclipse.linuxtools.systemtap.ui.ide.commands.ImportTapset"
               icon="icons/actions/import_wiz.gif"
               label="%command.import.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.linuxtools.systemtap.ui.ide.toolbar?after=runGroup">
         <command
               commandId="org.eclipse.linuxtools.systemtap.ui.ide.RunScriptCommand"
               icon="icons/actions/run/run_exc.gif"
               label="%command.run.desc"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution
            allPopups="true"
            locationURI="toolbar:org.eclipse.linuxtools.systemtap.ui.ide.toolbar?after=chartGroup">
         <command
               commandId="org.eclipse.linuxtools.systemtap.ui.ide.ExportDataSetCommand"
               icon="icons/actions/exportpref_obj.gif"
               label="%command.dataExport.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.linuxtools.systemtap.ui.ide.ImportDataSetCommand"
               icon="icons/actions/importpref_obj.gif"
               label="%command.dataImport.name"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="popup:#TextEditorContext?after=additions">
         <command
               commandId="org.eclipse.linuxtools.systemtap.ui.ide.toggleComment"
               label="%command.toggleComment.name"
               mnemonic="%command.toggleComment.mne"
               style="push">
         </command>
         <command
               commandId="org.eclipse.linuxtools.systemtap.ui.ide.indent"
               label="%command.indent.name"
               mnemonic="%command.indent.mne"
               style="push">
         </command>
      </menuContribution>

      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.linuxtools.systemtap.ui.ide.definitionMenu"
               style="push">
            <visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.eclipse.linuxtools.systemtap.structures.TreeDefinitionNode">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>

      <menuContribution
            locationURI="popup:#CEditorRulerContext?after=additions">
         <command
               commandId="org.eclipse.linuxtools.systemtap.ui.ide.addStapProbe"
               label="%command.addStapProbe.name"
               mnemonic="%command.addStapProbe.mne"
               style="push">
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.editors.stp.STPEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="stp"
            icon="icons/views/page_obj.gif"
            id="org.eclipse.linuxtools.internal.systemtap.ui.ide.editors.stp.STPEditor"
            name="%editor.stp.name">
      </editor>
      <editor
            name="%editor.simple.name"
            id="org.eclipse.linuxtools.systemtap.ui.editor.SimpleEditor"
            class="org.eclipse.linuxtools.systemtap.ui.editor.SimpleEditor"
            icon="icons/views/page_obj.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true">
      </editor>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%preference.systemTap.name"
            id="org.eclipse.linuxtools.systemtap.prefs.view"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.preferences.SystemTapPreferencePage">
      </page>
      <page
            name="%preference.ide.name"
            id="org.eclipse.linuxtools.systemtap.prefs.ide"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.preferences.IDEPreferencePage"
            category="org.eclipse.linuxtools.systemtap.prefs.view">
      </page>
      <page
            name="%preference.path.name"
            id="org.eclipse.linuxtools.systemtap.prefs.ide.path"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.preferences.PathPreferencePage"
            category="org.eclipse.linuxtools.systemtap.prefs.ide">
      </page>
      <page
            name="%preference.tapsets.name"
            id="org.eclipse.linuxtools.systemtap.prefs.ide.tapsets"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.preferences.TapsetsPreferencePage"
            category="org.eclipse.linuxtools.systemtap.prefs.ide">
      </page>
      <page
            name="%preference.envVars.name"
            id="org.eclipse.linuxtools.systemtap.prefs.environmentvariables"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.preferences.EnvironmentVariablesPreferencePage"
            category="org.eclipse.linuxtools.systemtap.prefs.view">
      </page>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.eclipse.linuxtools.internal.systemtap.ui.ide.preferences.PreferenceInitializer"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="%category.file.name"
            description="%category.file.desc"
            id="org.eclipse.linuxtools.systemtap.ui.ide.category.file">
      </category>
      <command
            name="%command.import.name"
            description="%command.import.desc"
            categoryId="org.eclipse.linuxtools.systemtap.ui.ide.category.file"
            id="org.eclipse.linuxtools.systemtap.ui.ide.commands.ImportTapset">
      </command>

      <category
            name="%category.run.name"
            description="%category.run.desc"
            id="org.eclipse.linuxtools.systemtap.ui.ide.category.run">
      </category>
      <command
            name="%command.run.name"
            description="%command.run.desc"
            categoryId="org.eclipse.linuxtools.systemtap.ui.ide.category.run"
            id="org.eclipse.linuxtools.systemtap.ui.ide.RunScriptCommand">
      </command>

      <category
            name="%category.data.name"
            description="%category.data.desc"
            id="org.eclipse.linuxtools.systemtap.ui.ide.category.data">
      </category>
      <command
            name="%command.dataExport.name"
            description="%command.dataExport.desc"
            categoryId="org.eclipse.linuxtools.systemtap.ui.ide.category.data"
            id="org.eclipse.linuxtools.systemtap.ui.ide.ExportDataSetCommand">
      </command>
      <command
            name="%command.dataImport.name"
            description="%command.dataImport.desc"
            categoryId="org.eclipse.linuxtools.systemtap.ui.ide.category.data"
            id="org.eclipse.linuxtools.systemtap.ui.ide.ImportDataSetCommand">
      </command>

      <category
            name="%editor.category.source.name"
            description="%editor.category.source.desc"
            id="org.eclipse.linuxtools.systemtap.ui.ide.category.source">
      </category>
      <command
            name="%command.toggleComment.name"
            categoryId="org.eclipse.linuxtools.systemtap.ui.ide.category.source"
            description="%command.toggleComment.desc"
            id="org.eclipse.linuxtools.systemtap.ui.ide.toggleComment"
            defaultHandler="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.ToggleCommentHandler">
      </command>
      <command
            name="%command.indent.name"
            description="%command.indent.desc"
            categoryId="org.eclipse.linuxtools.systemtap.ui.ide.category.source"
            id="org.eclipse.linuxtools.systemtap.ui.ide.indent"
            defaultHandler="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.IndentHandler">
      </command>

      <category
            name="%category.tapset.name"
            description="%category.tapset.desc"
            id="org.eclipse.linuxtools.systemtap.ui.ide.category.tapset">
      </category>
      <command
          name="%command.viewDefinition.name"
          description="%command.viewDefinition.desc"
          categoryId="org.eclipse.linuxtools.systemtap.ui.ide.category.tapset"
          id="org.eclipse.linuxtools.systemtap.ui.ide.definitionMenu">
      </command>

      <category
            name="%category.cfiles.name"
            description="%category.cfiles.desc"
            id="org.eclipse.linuxtools.systemtap.ui.ide.category.cfiles">
      </category>
      <command
            name="%command.addStapProbe.name"
            description="%command.addStapProbe.desc"
            categoryId="org.eclipse.linuxtools.systemtap.ui.ide.category.cfiles"
            id="org.eclipse.linuxtools.systemtap.ui.ide.addStapProbe"
            defaultHandler="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.AddStapProbeHandler">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.RunScriptHandler"
            commandId="org.eclipse.linuxtools.systemtap.ui.ide.RunScriptCommand">
         <activeWhen>
            <with
                   variable="activeEditor">
                <instanceof
                      value="org.eclipse.linuxtools.internal.systemtap.ui.ide.editors.stp.STPEditor">
                </instanceof>
             </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.ImportTapsetHandler"
            commandId="org.eclipse.linuxtools.systemtap.ui.ide.commands.ImportTapset">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.linuxtools.systemtap.ui.ide.perspectiveEnablement">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.ImportDataSetHandler"
            commandId="org.eclipse.linuxtools.systemtap.ui.ide.ImportDataSetCommand">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.linuxtools.systemtap.ui.ide.perspectiveEnablement">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.ExportDataSetHandler"
            commandId="org.eclipse.linuxtools.systemtap.ui.ide.ExportDataSetCommand">
         <activeWhen>
            <reference
                  definitionId="org.eclipse.linuxtools.systemtap.graphing.ui.graphEditorEnablement">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.DefinitionHandler"
            commandId="org.eclipse.linuxtools.systemtap.ui.ide.definitionMenu">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <count
                     value="1">
               </count>
               <iterate>
                  <test
                     property="org.eclipse.linuxtools.systemtap.ui.ide.handlers.hasDefinition">
               </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.handlers.DefinitionMenuTester"
            id="org.eclipse.linuxtools.systemtap.ui.ide.handlers.definitionMenuTester"
            namespace="org.eclipse.linuxtools.systemtap.ui.ide.handlers"
            properties="hasDefinition"
            type="org.eclipse.linuxtools.systemtap.structures.TreeDefinitionNode">
      </propertyTester>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.linuxtools.systemtap.ui.ide.IDEPerspective">
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.linuxtools.systemtap.ui.ide"
            name="%category.name">
      </category>
      <wizard
            category="org.eclipse.linuxtools.systemtap.ui.ide"
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.wizards.StapNewWizard"
            icon="icons/smileytap_small.gif"
            id="org.eclipse.linuxtools.systemtap.ui.ide.wizards.StapNewWizard"
            name="%wizard.name">
         <description>
            Create a SystemTap script file
         </description>
      </wizard>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.launcher.SystemTapScriptLaunchShortcut"
            id="org.eclipse.linuxtools.systemtap.ui.ide.StapLaunchShortcut"
            label="%launch.run.name"
            description="%launch.run.desc"
            icon="icons/smileytap_small.gif"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IResource">
                           </instanceof>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.stp">
                           </test>
                        </and>
                        <and>
                           <instanceof
                                 value="org.eclipse.ui.IPathEditorInput">
                           </instanceof>
                           <with
                                 variable="activeEditorId">
                              <equals
                                    value="org.eclipse.linuxtools.internal.systemtap.ui.ide.editors.stp.STPEditor">
                              </equals>
                           </with>
                        </and>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.linuxtools.internal.systemtap.ui.ide.launcher.SystemTapScriptLaunchConfigurationDelegate"
            id="org.eclipse.linuxtools.systemtap.ui.ide.SystemTapLaunchConfigurationType"
            modes="run"
            name="SystemTap"
            public="true">
      </launchConfigurationType>
   </extension>

   <extension
         point="org.eclipse.debug.core.processFactories">
      <processFactory
            id="org.eclipse.linuxtools.systemtap.ui.ide.SystemTapRuntimeProcessFactory"
            class="org.eclipse.linuxtools.systemtap.structures.process.SystemTapRuntimeProcessFactory">
      </processFactory>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.linuxtools.systemtap.ui.ide.SystemTapLaunchConfigurationType"
            icon="icons/smileytap_small.gif"
            id="org.eclipse.linuxtools.systemtap.ui.ide.systemtapLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.linuxtools.internal.systemtap.ui.ide.launcher.SystemTapScriptLaunchConfigurationTabGroup"
            id="org.eclipse.linuxtools.systemtap.ui.ide.systemTapLaunchConfigurationTabGroup"
            type="org.eclipse.linuxtools.systemtap.ui.ide.SystemTapLaunchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.linuxtools.systemtap.ui.ide.toggleComment"
            contextId="org.eclipse.linuxtools.systemtap.ui.ide.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+/">
      </key>
      <key
            commandId="org.eclipse.linuxtools.systemtap.ui.ide.indent"
            contextId="org.eclipse.linuxtools.systemtap.ui.ide.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+I">
      </key>
   </extension>

   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%editor.context.desc"
            id="org.eclipse.linuxtools.systemtap.ui.ide.context"
            name="%editor.context.name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.linuxtools.systemtap.ui.ide.perspectiveEnablement">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="org.eclipse.linuxtools.systemtap.ui.ide.IDEPerspective">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
