<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.linuxtools.docker.editor.ls.DockerfileLanguageServer"
            id="org.eclipse.linuxtools.docker.editor.ls.server"
            label="Dockerfile Language Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.tm4e.language_pack.dockerfile"
            languageId="Dockerfile"
            id="org.eclipse.linuxtools.docker.editor.ls.server">
      </contentTypeMapping>
   </extension>
   <extension point="org.eclipse.ui.genericeditor.icons">
		<icon contentType="org.eclipse.tm4e.language_pack.dockerfile" icon="icons/dockerfile.png" />
	</extension>

</plugin>
