<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.ui.RemoteResourceSelectorProxy">
      <resourceSelectorProxy
            class="org.eclipse.linuxtools.profiling.launch.ui.rdt.proxy.RDTResourceSelectorProxy"
            scheme="remotetools"
            schemeLabel="Remote Tools">
      </resourceSelectorProxy>
   </extension>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.ui.RemoteResourceSelectorProxy">
      <resourceSelectorProxy
            class="org.eclipse.linuxtools.profiling.launch.ui.rdt.proxy.RDTResourceSelectorProxy"
            scheme="rse"
            schemeLabel="RSE">
      </resourceSelectorProxy>
   </extension>

</plugin>
