<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.oprofile.ui.viewgroup"
            class="org.eclipse.linuxtools.oprofile.ui.view.OprofileView"
            icon="icons/oprofile_view.png"
            id="org.eclipse.linuxtools.oprofile.ui.OProfileView"
            name="%view.name"
            restorable="true">
      </view>
      <category
            id="org.eclipse.linuxtools.oprofile.ui.viewgroup"
            name="%view.groupname">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.linuxtools.oprofile.ui.OProfileView">
         <command
               commandId="org.eclipse.linuxtools.oprofile.ui.view.annotateCommand"
               icon="icons/annotate.png"
               id="org.eclipse.linuxtools.oprofile.ui.view.annotate"
               style="toggle"
               tooltip="%view.annotate.toggle.tooltip">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.linuxtools.oprofile.ui.annotation.AnnotateCommandHandler"
            id="org.eclipse.linuxtools.oprofile.ui.view.annotateCommand"
            name="%annotateCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            name="org.eclipse.linuxtools.oprofile.ui.annotation.lt.min.pct">
      </type>
	  <type
            name="org.eclipse.linuxtools.oprofile.ui.annotation.lt.20.pct">
      </type>
      <type
            name="org.eclipse.linuxtools.oprofile.ui.annotation.lt.5.pct">
      </type>
            <type
            name="org.eclipse.linuxtools.oprofile.ui.annotation.lt.40.pct">
      </type>
      <type
            name="org.eclipse.linuxtools.oprofile.ui.annotation.lt.60.pct">
      </type>
      <type
            name="org.eclipse.linuxtools.oprofile.ui.annotation.lt.80.pct">
      </type>
      <type
            name="org.eclipse.linuxtools.oprofile.ui.annotation.gt.80.pct">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="org.eclipse.linuxtools.oprofile.ui.annotation.lt.min.pct"
            colorPreferenceKey="lt.min.pct_colour"
            colorPreferenceValue="219,219,219"
            contributesToHeader="false"
            highlightPreferenceKey="lt.min.pct_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="lt.min.pct_isGoToNextNav"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="lt.min.pct_isGoToPrevNav"
            label="%lt.min.pct.label"
            overviewRulerPreferenceKey="lt.min.pct_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="lt.min.pct_showNextPrev"
            textPreferenceKey="lt.min.pct_text"
            textPreferenceValue="true"
            textStylePreferenceKey="lt.min.pct_stylePref"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="lt.min.pct_vertical"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.eclipse.linuxtools.oprofile.ui.annotation.lt.5.pct"
            colorPreferenceKey="lt.5.pct_colour"
            colorPreferenceValue="219,219,219"
            contributesToHeader="false"
            highlightPreferenceKey="lt.5.pct_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="lt.5.pct_isGoToNextNav"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="lt.5.pct_isGoToPrevNav"
            label="%lt.5.pct.label"
            overviewRulerPreferenceKey="lt.5.pct_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="lt.5.pct_showNextPrev"
            textPreferenceKey="lt.5.pct_text"
            textPreferenceValue="true"
            textStylePreferenceKey="lt.5.pct_stylePref"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="lt.5.pct_vertical"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.eclipse.linuxtools.oprofile.ui.annotation.lt.20.pct"
            colorPreferenceKey="lt.20.pct_colour"
            colorPreferenceValue="219,219,219"
            contributesToHeader="false"
            highlightPreferenceKey="lt.20.pct_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="lt.20.pct_isGoToNextNav"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="lt.20.pct_isGoToPrevNav"
            label="%lt.20.pct.label"
            overviewRulerPreferenceKey="lt.20.pct_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="lt.20.pct_showNextPrev"
            textPreferenceKey="lt.20.pct_text"
            textPreferenceValue="true"
            textStylePreferenceKey="lt.20.pct_stylePref"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="lt.20.pct_vertical"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.eclipse.linuxtools.oprofile.ui.annotation.lt.40.pct"
            colorPreferenceKey="lt.40.pct_colour"
            colorPreferenceValue="219,219,219"
            contributesToHeader="false"
            highlightPreferenceKey="lt.40.pct_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="lt.40.pct_isGoToNextNav"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="lt.40.pct_isGoToPrevNav"
            label="%lt.40.pct.label"
            overviewRulerPreferenceKey="lt.40.pct_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="lt.40.pct_showNextPrev"
            textPreferenceKey="lt.40.pct_text"
            textPreferenceValue="true"
            textStylePreferenceKey="lt.40.pct_stylePref"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="lt.40.pct_vertical"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.eclipse.linuxtools.oprofile.ui.annotation.lt.60.pct"
            colorPreferenceKey="lt.60.pct_colour"
            colorPreferenceValue="219,219,219"
            contributesToHeader="false"
            highlightPreferenceKey="lt.60.pct_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="lt.60.pct_isGoToNextNav"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="lt.60.pct_isGoToPrevNav"
            label="%lt.60.pct.label"
            overviewRulerPreferenceKey="lt.60.pct_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="lt.60.pct_showNextPrev"
            textPreferenceKey="lt.60.pct_text"
            textPreferenceValue="true"
            textStylePreferenceKey="lt.60.pct_stylePref"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="lt.60.pct_vertical"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.eclipse.linuxtools.oprofile.ui.annotation.lt.80.pct"
            colorPreferenceKey="lt.80.pct_colour"
            colorPreferenceValue="219,219,219"
            contributesToHeader="false"
            highlightPreferenceKey="lt.80.pct_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="lt.80.pct_isGoToNextNav"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="lt.80.pct_isGoToPrevNav"
            label="%lt.80.pct.label"
            overviewRulerPreferenceKey="lt.80.pct_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="lt.80.pct_showNextPrev"
            textPreferenceKey="lt.80.pct_text"
            textPreferenceValue="true"
            textStylePreferenceKey="lt.80.pct_stylePref"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="lt.80.pct_vertical"
            verticalRulerPreferenceValue="false">
      </specification>
      <specification
            annotationType="org.eclipse.linuxtools.oprofile.ui.annotation.gt.80.pct"
            colorPreferenceKey="gt.80.pct_colour"
            colorPreferenceValue="219,219,219"
            contributesToHeader="false"
            highlightPreferenceKey="gt.80.pct_higlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="gt.80.pct_isGoToNextNav"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="gt.80.pct_isGoToPrevNav"
            label="%gt.80.pct.label"
            overviewRulerPreferenceKey="gt.80.pct_overview"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="gt.80.pct_showNextPrev"
            textPreferenceKey="gt.80.pct_text"
            textPreferenceValue="true"
            textStylePreferenceKey="gt.80.pct_stylePref"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="gt.80.pct_vertical"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
</plugin>
