<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.linuxtools.oprofile.ui.viewgroup"
            class="org.eclipse.linuxtools.oprofile.ui.view.OprofileView"
            icon="icons/oprofile_view.png"
            id="org.eclipse.linuxtools.oprofile.ui.OProfileView"
            name="%view.name"
            restorable="true">
      </view>
      <category
            id="org.eclipse.linuxtools.oprofile.ui.viewgroup"
            name="%view.groupname">
      </category>
   </extension>
</plugin>
