<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.linuxtools.valgrind.launch.valgrindTools">
      <tool
            delegate="org.eclipse.linuxtools.internal.valgrind.helgrind.HelgrindLaunchDelegate"
            id="org.eclipse.linuxtools.valgrind.launch.helgrind"
            name="helgrind"
            page="org.eclipse.linuxtools.internal.valgrind.helgrind.HelgrindToolPage">
      </tool>
   </extension>
   <extension
         point="org.eclipse.linuxtools.valgrind.ui.valgrindToolViews">
      <view
            class="org.eclipse.linuxtools.internal.valgrind.helgrind.HelgrindViewPart"
            definitionId="org.eclipse.linuxtools.valgrind.launch.helgrind">
      </view>
   </extension>
   <extension
         point="org.eclipse.linuxtools.profiling.launch.launchProvider">
      <provider
            delegate="org.eclipse.linuxtools.internal.valgrind.launch.ValgrindLaunchConfigurationDelegate"
            description="%LaunchConfiguration.description.0"
            id="org.eclipse.linuxtools.profiling.provider.valgrind.helgrind"
            information="%LaunchConfiguration.information.0"
            name="%LaunchConfiguration.name.0"
            priority="3"
            shortcut="org.eclipse.linuxtools.internal.valgrind.helgrind.HelgrindLaunchShortcut"
            tabgroup="org.eclipse.linuxtools.internal.valgrind.helgrind.HelgrindLaunchConfigurationTabGroup"
            type="memory">
      </provider>
   </extension>

</plugin>
